body {
  margin: 10px;
  color: teal;
  font-size: 18px;
  background-color: #bef8e4;
}

form{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
input{
  margin: 15px;
  border: 1px solid teal;
  font-size: 14px;
}
select{
  margin: 0 15px;
  border: 1px solid teal;
  font-size: 14px;
}
.summary{
}