*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0a0a0ac0;
  font-size: 15px;
}

.header {
  max-width: 425px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  h1,
  h2,
  h3 {
    margin: 10px;
  }

section{
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:10px;
  margin-bottom: 10px;
}

label{
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
}

select{
  width: 50%;
  height: 30px;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #0a0a0ac0;
  text-align: center;
}

input{
  width: 50%;
  height: 30px;
  color: #0a0a0ac0;
  font-size: 15px;
  padding: 5px;
}

.question-section{
  height: 25vh;
}

.agegroup-label{
    width: 23%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.agegroup-input{
  width: 25%;
  margin-right: 10px;
}

/* form data */
form{
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}

form p{
  text-align: left;
  margin-bottom: 15px;
}

/* last message/thank you message */
.msg-thank-you{
  padding: 20px;
  font-size: 15px;
}

.msg-thank-you p{
  line-height: 1.5em;
}

.msg-thank-you a{
  color:#0067b8;
  text-decoration: none;
}

/* button */
.sectionbtn{
  text-align: center;
}

.btn {
  color: #0a0a0ac0;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: none;
}
  
.btn-primary {
  background-color: #50c499;
  font-weight: bold;
  margin-right: 5px;
  margin-top: 15px;
}


  /* custom slider css */
  .slidecontainer {
    width: 50%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    header, section{
      margin: 0 auto;
    }

    #root{
      margin: 10px auto;
      max-width: 425px;
      border: 1px solid #0a0a0ac0;
      padding: 10px;
    }

  }