.header{
  background-color: #478978ff;
  width: 100%;
  height: 150px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
  font-family: 'Merriweather', Serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 
--middle-blue-green: #84dcc6ff;
--beau-blue: #d6edffff;
--uranian-blue: #acd7ecff;
--blue-bell: #8b95c9ff;
--viridian: #478978ff;
*/