.FirstForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto' bold;
}


.question, .summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.summary span {
    margin: 30px 0px;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;
}

.question span {
    font-size: 22px;
}

button {
    display: inline-block;
    background: #ddaf4b;
    width: 100px;
    height: 50px;
    font-family: 'Roboto' bold;
    font-size: 16px;
    color: #a12219;
    border: solid 4px #d29835; 
    border-radius: 12%;
}

button:hover {
    background: #a12219;
    color: #ddaf4b;
    border: solid 4px #a12219;
    transition: 0.4s; 
}

.navigationButtons {
    display: flex;
    flex-direction: row;
}

.next {
    border-top-right-radius: 12%; 
    border-bottom-right-radius: 12%;
    border-top-left-radius: 0%; 
    border-bottom-left-radius: 0%; 
}

.previous {
    border-top-left-radius: 12%; 
    border-bottom-left-radius: 12%;
    border-top-right-radius: 0%; 
    border-bottom-right-radius: 0%; 
}

button[type="submit"] {
    border-top-right-radius: 12%; 
    border-bottom-right-radius: 12%; 
}



Input {
    margin: 30px 5px;
}

label {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 150px;
    height: 25px;
    background: #dcaf4a;
    border: solid 4px #d29835;
    font-family: 'Roboto' bold;
    font-size: 16px;
    color: #a12219;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + span {
    opacity: 0.5;
    font-size: 60px;
}

input[type="radio"] + span:hover {
    opacity: 1;
    font-size: 60px;
}

input[type="radio"]:checked + span {
    opacity: 1;
    font-size: 60px;
}

/* Slide range */

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  
  select {
    background: #ddaf4b;
    width: 200px;
    height: 40px;
    font-family: 'Roboto' bold;
    font-size: 16px;
    color: #a12219;
    border: solid 4px #d29835; 
    margin-bottom: 30px;
  }

  .nachos {
      margin: 30px 0px;
  }

  input[type="checkbox"] {
    display: none;
}

.fakeCheckbox {
    display: inline-flex;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: solid 2px #a12219; 
    justify-content: center;
    align-items: center;
}

input:checked + .fakeCheckbox::after {
    content: " ";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #a12219;
    display: inline-block;
}
