button.btn {
	padding: 10px 35px;
	margin: 1.5em 0;
	width: 225px;
	cursor: pointer;
	font-size: inherit;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
	color: var(--clr-black);
	border: none;
	transition: all 0.5s ease-in-out;
}

button.start-btn {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	background: var(--clr-white);
}

button.next-btn,
button.reset-btn:hover,
button.reset-btn:focus {
	background: var(--clr-dark);
	color: var(--clr-black);
}

button.reset-btn,
button.reset-btn:active,
button.next-btn:hover,
button.next-btn:focus {
	background: var(--clr-black);
	color: var(--clr-dark);
}

button.back-btn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	bottom: 0;
	background: var(--clr-black);
	background: url("./assets/back-btn.png");
	background-size: contain;
}

button.back-btn:hover,
button.back-btn:focus {
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

@media (min-width: 668px) {
	button.back-btn {
		width: 40px;
		height: 40px;
	}

	button.btn {
		margin: 2.5em 0;
	}
}
