button.btn {
	padding: 10px 35px;
	margin: 2.5em 0;
	width: 225px;
	cursor: pointer;
	font-size: inherit;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 700;
	color: var(--clr-black);
	border: none;
}

button.next-btn {
	background: var(--clr-dark);
}

button.next-btn:hover,
button.next-btn:focus {
	background: var(--clr-medium);
}

button.back-btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	bottom: 1.5em;
	background: var(--clr-black);
	background: url("./assets/back-btn.png");
	background-size: contain;
}

button.back-btn:hover,
button.back-btn:focus {
	transform: scale(1.1);
	transition: all 0.3s ease-in-out;
}

button.submit-btn {
	background: linear-gradient(
		45deg,
		#ac699d,
		#ffeba1,
		#fdbcbc,
		#75a996,
		#5d87b8,
		#ac699d
	);
}

button.reset-btn,
button.reset-btn:active {
	color: var(--clr-dark);
}

button.reset-btn:hover,
button.reset-btn:focus {
	background: var(--clr-light);
	color: var(--clr-black);
}
