button {
  background: lightgray;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  border-radius: 4px;
  font-size: 22px;
  display: block;
  
}

.primary {
  background: rgb(53, 53, 55);
  color: aliceblue;
  width: 150px
}

.secondary {
  background: transparent;
  border: 3px solid black;
}

