h3 {
    font-size: 30px;
    color: #f76f8e;
    text-align: center;
    text-decoration: underline;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    color: pink;
    font-size: 20px;
}

.list li {
    display: flex;
    align-items: center;
    margin: 0,5rem 0;
    margin-left: -1.25rem;
    margin-bottom: 1rem;
}

.list li::before {
    content: '•';
    margin-right: 0.5rem;
}

.summary {
    font-weight: bold;
    margin-right: 10px;
}

a {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #f76f8e;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 1rem;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/*ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/*li {
    display: flex;
    align-items: right;
    margin: 10px 0;
}

li:before {
    content: "\2022";
    margin-right: 10px;
}
.summary {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 15px;
}*/

