.country h3{
    color: rgb(37, 58, 37);
}

.dropdown {
    height: 40px;
    color: rgb(18, 19, 18);
    font-size: medium;
    background-color: rgb(231, 240, 231);
}

.dropdown:hover {
    background-color: rgb(221, 224, 221);
    opacity: 0.5;
    transition: 3.s ease;

}