
.selectdiv {
  position: relative;
  float: left;
  min-width: 200px;
  margin: 50px 33%;
}
select::-ms-expand {
  display: none;
}
.selectdiv:after {
  content: '<>';
  font: 17px "Consolas", monospace;
  color: #2f2cf7;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid #fa7878;
  position: absolute;
  pointer-events: none;
}
.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-family: 'Coiny', cursive;
  font-size: 16px;
  line-height: 1.75;
  color: #2f2cf7;
  background-color: #fbf3f3;
  background-image: none;
  border: 1px solid #fa7878;
  -ms-word-break: normal;
  word-break: normal;
}

