form {
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  
}

div {
  display: flex;
  flex-direction: column;
   width: 100%;
   margin: 0 auto;
   height: 150px;
  text-align: center;
  padding: 40px 0px;
}

input {
  display: block;
  background: none;
  box-shadow: none;
  border: 3px rgb(105, 105, 105) solid;
  margin: 0 20px;
}

label {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: center;
}

select {
margin: auto;  
border: black solid 2px;
border-radius: 0;
background: none;
font-size: 16px;
font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
monospace;
}

.colorOne {
  background: rgba(224, 159, 224, 0.637);
  
  
}

.colorTwo {
  background-color: rgba(105, 62, 112, 0.582);
 
}

.colorThree {
  background-color: rgb(201, 129, 151);
}

.colorFour {
  background-color: rgb(143, 79, 138);
}

@media only screen and (min-width: 900px) { 
form {
  flex-direction: row;
  flex-wrap: wrap;
}
.colorOne,
.colorTwo,
.colorThree,
.colorFour {
  width: 50%;
}



}