.text-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    /* background: #b0bec5; */
    height: 300px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    background: #8c92ac;
    /* justify-content: center; */
}

/* .text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.btn {
    width: 80px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    background: #4a646c
    /* text-transform: uppercase; */
    /* align-self: center; */
}

.summary p {
   font-style: italic;
}