.header{
  margin: 0;
  position: relative;
  height: 508px;
  background-image: url('charles-deluvio-pLjFwX5VR-M-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-width: 1025px) {

  .header {
    background-image: url('pizza.jpg');
  }
}