/*** GENERAL STYLING ***/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Merriweather+Sans:wght@300&display=swap');

body {
  margin: 0;
}

.main {
  margin: 0;
  font-family: 'Catamaran', Sans-Serif;
  font-family: 'Merriweather Sans', Sans-Serif;
  background-color: #CAD2C5;
  color: #52796F;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
}

h1 {
  font-family: 'Catamaran', Sans-Serif;
  font-size: 48px;
  line-height: 48px;
}

/* Media queries*/
@media (min-width: 668px) { /* Tablet device */
  .main {
    justify-content: center;
  }
}

@media (min-width: 1024px) { /* Desktop device */

}