@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap');

:root {
    --maroon:#810000;
    --dark-red: #CE1212;
    --beige: #EEEBDD;
    --black: #1B1717;
  }

  *{
    box-sizing: border-box;
  }

body {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'Red Hat Display', sans-serif,
  source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.survey-container{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
}

.survey-container form{
  font-family: 'Red Hat Display', sans-serif;
  padding:5%;
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form p{
font-size:2em;
}

.banner-image{
  width:100%;
  /* height:100vh; */
  /* border-radius: 0 0 45px 0; */
}

.question-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input-div{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  background-color: transparent;
}



.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.landing-child{
  display: flex;
  flex-direction: column;
  margin-top: 42%;
  
}

.landing-child h1{
  font-size: 3em;
  align-self: center;
  margin-bottom:15%;;
}

.landing-child h2{
  font-size: 2em;
  margin-bottom:20%;;
}

.progress{
  display: flex;;
  align-self: center;
  width:100%;
  margin-top: 50px;
  height:100px;
}

/* RadioQuestion */
.radio-icon{
  width: 65px;
}

.radioQuestion-children{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  gap: 4%;
}

.radioQuestion-child{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--beige);
  width: 40%;
  padding:5%;
  border-radius: 10px;

}

.radioQuestion-child label{
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
}

.select-dropdown{
  font-family: 'Red Hat Display', sans-serif;
  position: relative;
}

.select-dropdown select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 10px;
  padding: 0.25em 0.5em;
  font-size: 20px;
  cursor: pointer;
  line-height: 1.1;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  text-align: center;
}

/* Styling for the range slider for cross broswer functionality */
input[type=range] {
  height: 38px;
  appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: var(--beige);
  border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--dark-red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--beige);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: var(--beige);
  border-radius: 5px;
}
input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--dark-red);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--beige);
  border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
  background: var(--beige);
  border-radius: 10px;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: var(--dark-red);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--beige);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--beige);
}


/* Buttons */
.buttons-container{
  display: flex;
  flex-direction:row;
  justify-content:center;
  margin-top: 3em; 
  gap:30px;
 }

 .start-button .next-button{
    padding:5px 80px;
    font-size:25px;
 }
 .previous-button, .next-button{
  padding: 5px 20px;
  background-color: var(--dark-red);
  border:none;
  border-radius: 10px;
  font-size:20px;
  color:white;
 }

 .previous-button{
  padding: 5px 30px;
 }

 /* Results page */
.results-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result-card {
  display: flex;
  flex-direction: column;
  margin: 4%;
  padding: 4%;
  border-radius: 7px;
  background-color: var(--beige);
  max-width:100vw;
}
.results-title{
  margin-top: 25%;
  text-align: center;
}

/* Tablet */
@media(min-width:768px) and (orientation: landscape){
  .survey-container{
    flex-direction: row;
  }
 
  .banner-image{
    width:40%;
    object-fit: cover;
    overflow: hidden;
  }
  .survey-container form{
    width:60%;
    padding:5%;
  }

  .landing-child{
    margin-top: 0;
  }

  .question-container{
    gap:50px;
  }

  .selectQuestion-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .progress{
    margin-top: 20%;
  }
  .results-container{
    display: grid;
    grid-template-columns: 50% 50%;
    max-height:500px;
    overflow:auto;
    margin-top: 0;
  }
  
  .result-card {
    display: flex;
    flex-direction: column;
    padding: 4%;
    border-radius: 7px;
    background-color: var(--beige);
  }

  .results-title{
    margin-top: 2%;
    text-align: center;
  }
}

@media (min-width:992px){
.survey-container{
  width: 100%;
}
  .banner-image{
    width:40%;
    margin-left:0;

  }
.survey-container form{
   width:60%;
  }

  .results-container{
    display: grid;
    grid-template-columns: 50% 50%;
    left:30%;
    margin-top: 10px;
  }
}
