:root {
  --primary: #416042;
  --secondary: #D0C9C0;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&family=Rampart+One&display=swap');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  background-image: url(../public/assets/background-img-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}

h1 {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Rampart One', cursive;
  color: var(--primary);
  font-weight: lighter;
  font-size: 25px;
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: var(--primary);
  text-align: center;
  font-weight: lighter;
}

.form-wrapper {
  width: 100%;
  max-width: 700px;
  height: 470px;
  border-radius: 30px;
  background: rgba(208, 201, 192, 0.5);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  border-radius: 15px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  padding: 1rem;
  margin: 2rem;
  width: 12rem;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.5s;
}

/*INPUT STYLING*/
select {
  width: 50%;
  padding: 16px 20px;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
  font-size: 14px;
}

input[type=text],
[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-size: 14px;
}

input[type=radio] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--primary);
  transition: 0.2s all linear;
  margin-right: 7px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

input[type=radio]:hover {
  border: 6px solid var(--primary);
}

input[type=radio]:checked {
  border: 6px solid var(--primary);
}

.recurrence {
  display: block;
  cursor: pointer;
  margin: 4px;
  font-size: 14px;
}

/*TABLET*/

@media (min-width: 667px) and (max-width: 1024px) {
  .form-wrapper {
    margin: 5vw;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
  }
}

/*DESKTOP*/

@media (min-width: 1024px) {
  .form-wrapper {
    margin: 5vw;
  }

  h1 {
    font-weight: lighter;
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
  }

  button:hover {
    background-color: transparent;
    color: var(--primary);
  }
}