/* font-family: 'Sacramento', cursive; */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "PT Serif", serif;
}
