body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body {
  background-color: rgb(224, 154, 197);   
} */

h1 {
  font-size: 42px;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px #929292;
  margin: 40px 0 20px 0;
}

h2 {
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 15px;
}

h3 {
  font-size: 28px;
  margin: 40px 0 20px 0;
  text-align: center;
  color: #fff;
}

p {
  color: #fff;
}

.app-wrapper {
  margin: 5vh auto;
  width: 90vw;
  height: 90vh;
  /* background-color: rgb(244, 185, 222); */
  /* border: 1px solid #000; */
}

form {
  width: 90vw;
  height: 90vh;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.header-section h2 {
  text-shadow: 2px 2px #929292;
}

.survey-wrapper {
  /* background-color: rgb(245, 210, 231); */
  background-image: radial-gradient(circle, rgba(47,106,73,.2) 0% , rgba(47,106,73,.4) 30%, rgba(47,106,73,.9) 100%);
  background-size: cover;
  background-position-x: 0%;
  background-position-y: 10%; 
  overflow-y: hidden;
  overflow-x: hidden;
  /* border: 1px solid #000; */
  border-radius: 20px;
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: center;
}

.button {
  font-size: 14px;
  color: #5d5d5d;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 10px;
  margin: 15px;
  background: #f2d8c9;
  /* outline: 0; */
  border-style: none;
}

.question-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-around;
  height: 100%;
  align-items: center;
  margin: auto;
}

.input-name {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 0 15px;
}

.input-text-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-text {
  align-self: center;
  /* margin: auto; */
  margin: 40px 0 0 0;
  border: none;
  border-bottom: 1px solid #000;
}

/* .name-form {
  margin: 20px;
} */

.input-age {
  color: #fff;
  margin: 5px 5px 5px 20px;
  align-self: flex-start;
}

.input-select-color {
  margin: 20px;
}
