body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background: url(./components/img/backgroundsmall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.outerContainer {
  width: 100%;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  width: 80%;
  height: 70%;
  margin: 0 auto;
  border-style: groove hidden ridge;
  border-color: white;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  height: 30%;
}

.question {
  display: flex;
  flex-direction: column;
}

.question-range {
  display: flex;
}

.page-button-container {
  height: 30%;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.footer-wrapper {
  align-items: flex-end;
  height: 35%;
}

/*Range slider styling */
input[type=range] {
  width: 200px;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  /*extra*/
  display: block;
  margin: 10px 0 0 0;
  position: relative;
}

input[type=range]::before,
input[type=range]::after {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  color: #888;
}

input[type=range]::before {
  content: attr(min);
  left: 0;
  /* after */
  transform: translate(calc(-100% - 5px))
}

input[type=range]::after {
  content: attr(max);
  right: 0;
  /* after */
  transform: translate(calc(100% + 5px))
}

/* input[type=range]::-moz-range-track,  */
/* input[type=range]::-ms-track */
input[type=range]::-webkit-slider-runnable-track {
  background: #222;
  border-radius: 3px;
  height: 5px;
  -webkit-appearance: none;
}

/* input[type=range]::-moz-range-thumb */
/* input[type=range]::-ms-thumb */
input[type=range]::-webkit-slider-thumb {
  border: none;
  box-shadow: none;
  height: 20px;
  width: 6px;
  border-radius: 12px;
  background: #0097f0;
  -webkit-appearance: none;
  margin: -7px 0 0 0;
  outline: none;
}

.custom-range-slider {
  position: relative;
  padding-bottom: 50px;
  color: #888;
}

.custom-range-slider .bubble {
  padding: 5px;
  border-radius: 3px;
  background: #999;
  display: inline-block;
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: absolute;
  top: 45px;
  transform: translateX(-50%);
  transition: background 0.3s ease;
}

.custom-range-slider:hover .bubble {
  background: #0097f0;
}


/*Footer section */
.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
}
/*Button section. The span creates the arrow, and depending which button you press it moves in a specific direction.*/
.button-next {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.button-next > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.button-next > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.button-next:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.button-next:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.button-next:hover {
  background-color: #017A4F;
  color: #fff;
}

.button-previous {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.button-previous > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(135deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.button-previous > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.button-previous:hover > .arrow {
  transform: rotate(135deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.button-previous:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.button-previous:hover {
  background-color: #017A4F;
  color: #fff;
}

.button-submit {
  display: flex;
  color: #C2FFE9;
  background-color: #00E692;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
}

.button-submit > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #C2FFE9;
  border-bottom: 2px solid #C2FFE9;
  position: relative;
  transform: rotate(45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.button-submit > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.button-submit:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.button-submit:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.button-submit:hover {
  background-color: #017A4F;
  color: #fff;
}