body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lucida Console", "Courier New", monospace;

  /** background image */
  background-image: url("./assets/background-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeText {
  background-color: rgba(153, 105, 169, 0.5);
  text-align: center;
  width: 100%;
  height: 120px;
  font-size: 50px;
  font-weight: 700;
  margin-top: 20px;
  color: #3d0b35;
  font-family: 'Covered By Your Grace';

}

.survey-goal {
  width: 60%;
  font-weight: 700;
  text-align: center;
  background-color: rgba(129, 114, 114, 0.5);
  border-radius: 5%;
  color: #4b0d36;
}

.question {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: rgb(24, 5, 16);
}

.text {
  font-size: 15px;
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin-top: 30px;
  justify-content: center;
  color: rgb(102, 14, 114);
  font-weight: 700;
}

.inputBox {
  border: none;
  text-align: center;
  margin-top: 20px;
  border-bottom: 2px solid rgb(14, 13, 13);
}

.lastButton {
  line-height: 40px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  border-radius: 50px;
  margin-top: 30px;
  color: #2d0424;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4b0d36;
  color: white;
}

.form-container {
  width: 60%;
}

.radioAnswers {
  display: flex;
  padding: 9px;
  color: #4a2707;
  font-size: larger;
}

.summary-container {
  display: flex;
  flex-direction: column;
  margin-top: 220px;
  text-align: center;
}

.end {
  display: flex;
  margin-top: 80px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  justify-content: center;
  background-color: rgba(129, 114, 114, 0.5);
}

.imageAnswers {
  color: #4a2707;
  display: inline-flex;
  font-size: 15px;
}

.images {
  margin-top: 50px;
  flex-direction: row;
  height: 160px;
  min-width: 160px;
}

/* Media query Screen and Tablet */


@media (min-width: 668px) {

  .container {
    margin-top: 60px;
  }

  .homeText {
    width: 100%;
    height: 70px;
    font-size: 40px;
  }

  .question {
    font-size: 30px;
  }

  .survey-goal {
    font-size: 20px;
  }

  .radioAnswers {
    display: inline-flex;
    text-align: center;
  }

  .form-container {
    width: fit-content;
    text-align: center;
  }

  .text {
    width: fit-content;
    text-align: center;
  }

  .imageAnswers {
    padding: 50px;
  }

  .images {
    margin-top: 50px;
    flex-direction: row;
    height: 300px;
    min-width: 250px;
    padding: 20px;
  }
}