body {
  margin: 0 auto;
  font-family: 'Cairo', sans-serif;
font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 800px;
  text-align: center;
  font-size: 22px;
  padding-left: 1em;
  padding-right: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

p, h3 {
  font-family: 'Cairo', sans-serif;
  font-style: italic;
}

.introMsg p {
  text-align: right;
}

.progressBtn {
  margin-top: 40px;
  font-family: 'Cairo', sans-serif;
}

input {
  opacity: 0;
}

label {
  display: inline-block;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.4s;
}

.selected span{
  padding: 0 5px 1px 5px;
  border-radius: 8px;
}

.selected span {
  background-color: #008CBA;
  color: white;
}


label:hover {
  transform: scale(1.1);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, opx) rotate(-1deg); }
  20% { transform: translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 0px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 0px) rotate(0deg); }
  100% { transform: translate(1px, 0px) rotate(-1deg); }
}
.sliderContainer input {
  opacity: 1;
}

.commentForm {
 display:flex;
 flex-direction: column;
 align-items: center;
 margin: auto;
}

.commentForm h3 {
  max-width: 500px;
}

.commentForm input {
  opacity: 1;
}

.commentForm select {
  margin-bottom: 2em;
}

.resultsContainer span {
font-weight: bold;
}

.finishBtn {
  margin-bottom: 2em;
}