h1 {
  color: white;
  font-size: 45px;
text-align: center;
margin-top: 80px;
padding: 20px;
font-family: 'Cantarell', sans-serif;
font-weight: bolder;
}

h3 span {
  background-color:  #94BBCF;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

select {
  background-color: #94BBCF;
  font-size: 15px;
  color: white;
}

.header {
  background-color: #94BBCF;
  background-size: cover;
  height: 200px;
  padding: 20px;
  max-width: 100%
}

.introduction {
  color: #94BBCF;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  padding: 30px;
}

.mailbox, .sizebox, .colorbox {
  padding: 10px;
}

.form {
  text-align: center;
}

.myForm {
  font-family: 'Cantarell', sans-serif;
  background-color: white;
  text-align: center;
  margin-bottom: 50px;
}

body {
  background-color: #94BBCF;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-family: 'Cantarell', sans-serif;
  background-color: #94BBCF;
  color: white;
font-size: 25px;
font-weight: bold;
border-radius: 5px;
margin-bottom: 40px;
}

.summary {
  margin: 0;
  margin-top: 20%;
  background-color:#94BBCF;
  background-size: cover;
  height: 200px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
}

.summary i {
  font-size: 30px;
  margin-top: 30px;
}