@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,600&family=Source+Sans+Pro&display=swap');

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  box-sizing: border-box;
  background: #f6f6f6;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  display: grid;
  gap: 30px;
  justify-items: center;
  min-height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  /* border: 2px pink solid; */
}

.layout-header {
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  height: fit-content;
  align-self: end;
  font-family: 'JetBrains Mono', monospace;
  font-style: italic;
  font-weight: 600;
  background-image: linear-gradient(175deg,rgb(183, 139, 255),rgb(135, 255, 205));
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 4px;
  padding-bottom: 5px;
  letter-spacing: 3px;
}

.layout-content {
  background: #fafafa;
  min-width: min(90%, 550px);
  border: 2px black dashed;
}

.survey {
  padding: 20px;
}

.layout-footer {
  /* border:2px yellow solid; */
  font-size: 0.8rem;
  height: fit-content;
  /* align-self: end; */
  padding-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
}

.footer-link {
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: #9643ca;
}

.footer-link:focus {
  color: #9643ca;
}

.footer-link:active {
  color: #242424;
}

.button {

  }

.button:hover {

  }

.button:active {

  }