@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,600&family=Source+Sans+Pro&display=swap');

/* --------- GENERAL ------------------------------------ */

:root {

  --lightgray: #fafafa;

  --lavender: rgb(183, 139, 255);
  --mint: rgb(135, 255, 205);

  --darklavender: rgb(124, 72, 208);
  --darkgray: rgb(66, 66, 66);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background: #f6f6f6;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  display: grid;
  gap: 30px;
  justify-items: center;
  min-height: 100vh;
  /* height: calc(var(--vh, 1vh) * 100); */
  /* border: 2px pink solid; */
}

/* --------- HEADER ------------------------------------ */

.layout-header {
  font-size: 2.5rem;
  /* text-transform: uppercase; */
  height: fit-content;
  align-self: end;
  font-family: 'JetBrains Mono', monospace;
  font-style: italic;
  font-weight: 600;
  background-image: linear-gradient(175deg,var(--lavender),var(--mint));
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 4px;
  padding-bottom: 5px;
  letter-spacing: 3px;
}

/* --------- SURVEY ------------------------------------ */

.layout-content {
  background: var(--lightgray);
  width: 85%;
  max-width: 550px;
  border: 2px black dashed;
}

.survey {
  padding: 20px;
  justify-content: center;
}


/* ------ Text input ------ */

.user-name {
  background-color: white;
  border: 1px black solid;
  color: black;
  border-radius: 3px;
  padding: 3px;
}

.user-name:focus {
}

.user-name:active {
}

/* ------ Buttons ------ */

.button {
  background-color: var(--darklavender);
  color: white;
  border: 1px black;
  border-radius: 3px;
  padding: 5px 10px;
  }

.button:focus {
  }

.button:hover {
  }

.button:active {
  }

/* ------ Select ------ */

.select {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
}

/* ------ Radiobuttons ------ */

.radiobuttons {
  display: block;
}

.radiobuttons:focus {
}

.radiobuttons:checked {
}

/* --------- FOOTER ------------------------------------ */

.layout-footer {
  /* border:2px yellow solid; */
  font-size: 0.8rem;
  height: fit-content;
  /* align-self: end; */
  padding-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
}

.footer-link {
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  color: var(--darklavender);
}

.footer-link:focus {
  color: var(--darklavender);
}

.footer-link:active {
  color: var(--darkgray);
}


/* --------- MEDIA QUERIES ------------------------------------ */


@media (min-width: 1025px) {
  .layout-header {
    font-size: 3rem;
  }
}
