h1, h2 {
  color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 80px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-shadow: 1px 1px 6px rgba(250, 128, 114, 0.792);
}

h3::first-letter {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(250, 128, 114);
}

h3 span {
  border-radius: 15px;
  padding: 5px;
  color: white;
  text-shadow: 2px 2px 8px rgb(97, 97, 97);
}

select {
  font-size: 15px;
  color: white;
}

.introduction, .namebox, .selectbox, .bestthingbox {
  color: #94BBCF;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin-top: 10%;
}

input, .dropdown {
  border-radius: 15px;
  padding: 10px;
  font-weight: bolder;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-right: 10px;
  margin-left: 20px;
  background-color: #aad7ee;
}

.form {
  text-align: center;
}

label{
  color:rgb(255, 255, 255)
}

p {
  color:rgba(0, 0, 0, 0.297)
}

.myForm {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
}

body {
  background-color: #aad7ee;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffffde;
  color: salmon;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
  margin: 40px;
  cursor: pointer;
  padding: 10px;
  border-style: none;
  box-shadow: 10px 15px 30px -16px rgba(0,0,0,0.57);
  -webkit-box-shadow: 10px 15px 30px -13px rgba(0,0,0,0.57);
  -moz-box-shadow: 10px 15px 30px -16px rgba(0,0,0,0.57);
}

button:hover {
  transform: scale(1.1);
  background-color: #ffffff91;
}

.summary {
  margin: 0;
  margin-top: 10%;
  background-color:#aad7ee;
  background-size: cover;
  height: 200px;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contact information showing in the summary */
.contactme{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
 }

.contact-logo{
  width: 30px;
  padding: 10px;
}

.contact-logo:hover{
  transform: scale(1.2);
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-size: 15px;
  color:rgba(66, 65, 65, 0.444);
  text-align: center;
  
}

.aboutme p {
  color: #ffffffa7;
}

.contactE{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  color: #ffffff;
  opacity: .7;
  background-color: #ffffffa3;
  padding: 10px;
}

/* Transition effect */
.body {
  overflow: hidden; /* Add this line to prevent component overflow */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.step-1 { animation: fadeIn 1s; }

.step-2 { animation: fadeIn 1s; }

.step-3 { animation: fadeIn 1s; }

.step-4 { animation: fadeIn 1s; }

.step-5 { animation: fadeIn 1s; }
