@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body{
    font-family: "Montserrat", sans-serif;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}

.h1-wrapper{
    background-color: rgb(115, 220, 220);
}

h1{
    text-align: center;
    padding: 10px;
}

h2{
    text-align: center;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

select{
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

label{
    margin-bottom:10px;
    text-align: center;
}

.sailor-label{
    margin-bottom:5px;
}

button{
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6em;
    border-radius: 5px;
}

@media screen and (min-width:768px) {
    button{
        font-size: 1.2em;
    }
}