section.intropage-wrapper {
	background: url("./assets/background-intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.intropage-wrapper {
	min-width: 100vw;
	display: flex;
	justify-content: center;
}

h3.intro-text {
	font-weight: 600;
}

.intro-text {
	text-shadow: var(--clr-white) 1px 0 10px;
}

.intro-text--bold {
	font-weight: 900;
	display: inline-block;
	padding-left: 0.2em;
	animation: jump 3s both infinite;
}

@keyframes jump {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.075) rotate(2deg);
	}
	50% {
		transform: scale(1);
	}
	75% {
		transform: scale(1.065) rotate(-1deg);
	}
	100% {
		transform: scale(1);
	}
}

@media (min-width: 668px) {
	section.intropage-wrapper {
		background-position: center;
	}
}
