section.intropage-wrapper {
	background: url("./assets/background-intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.intropage-wrapper {
	min-width: 100vw;
	display: flex;
	justify-content: center;
}

h3.intro-text {
	font-weight: 600;
}

.intro-text {
	text-shadow: var(--clr-white) 1px 0 10px;
}

.intro-text--bold {
	font-weight: 900;
}

@media (min-width: 668px) {
	section.intropage-wrapper {
		background-position: center;
	}
}
