/* PROGRESS BAR */
.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}


.progress-container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	width: 100%;
}

.progress-bar {
 	width: 350px;
 	height: 30px;
 	border-radius: 50px;
 	border: 2px solid #000;
  margin-top: 40px;
   
}

.range {
 	background: #a9e771;
 	height: 100%;
 	border-radius: inherit;
 	transition: width .3s ease-in;
}

