.empty-bar {
    
    width: 20vw;
    padding: 5px;
    border-radius: 5%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5%;
}

.filled-bar {
    background-image: linear-gradient(
    90deg, 
   white 10%, 
    black 10%); 
    background-size: cover;
    height: 10px;
    width: 1%;
    max-width: 100%;
    animation: load 2s linear infinite;
}

@keyframes load{
0% {background-position: 0}
100% {background-position: 200px}
}

.completion {
    font:    14px helvetica;
    margin-top: 3px;
    margin-bottom: 8px;
}