footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20vh;
}

.square {
	position: relative;
	height: 15px;
	width: 15px;
	display: inline-block;
	transition: all 0.4s ease-in;
	cursor: pointer;
}

.line {
	height: 2px;
	width: 20px;
}

.square:hover,
.square:focus {
	transform: scale(1.2);
	transition: all 0.2s ease-in;
}

@media (min-width: 1024px) {
	.line {
		width: 35px;
	}
}
