.radiobutton-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  color: white;
  margin-top: 40px;
}

.radiobutton-heading {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
  }