h1 {
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    flex-wrap: wrap;
}