body {
    margin: 0;
    background: #b0bec5;
    /* background: lightsteelblue; */
    /* display: flex;
    justify-content: center;
    align-items: center; */

    }

.text-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* .iput-name{
    /* margin-right: 20px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */ 