body{
  background-color: #f8baba;
}
header {
  text-align:center;
}
header h1{
  font-family: 'Chango', cursive;
  font-size: 72px;
  color:#fa7878;
}
h2{
  font-family: 'Coiny', cursive;
  color:#c84cd9;
  font-size: 48px;
}
.container {
  max-width: 900px;
  margin-left:auto;
  margin-right:auto;
}
.form-container{
  display:flex;
  flex-direction:column;
}
section {
  margin-top:40px;
  margin-bottom:40px;
  background-color:#fad7d7;
  padding:40px;
  text-align:center;
  border-radius:20px;
}
h1 {
  font-family: 'Chango', cursive;
  font-size: 24px;
  color:#f75a5a;
}
.name input{
  width:50%;
  height:30px;
  border-radius: 10px;
  -webkit-appearance: none;
  
  
  
}
select .dropdown {
  -webkit-appearance: none;
}
.radio{
  
}