.summary__section {
    background:  rgba(247, 249, 251, 0.8);
}

.summary__section p {
    font-size: 20px;
    font-weight: 600;
}
/*TO FIX: Make it span over all columns, maybe need to change from section to div instead?*/