
.summary {
  margin: 20px;
  background: url(./summarybackground1.jpg);
  padding: 50px;
  font-size: 20px;
  border: 2px solid white;

}
.summary h3{
  padding: 5px;
}

.summary p {
  padding: 5px;
}

/* TABLET */
@media (min-width: 600px) and (max-width: 999px) {
  .summary { 
    background: url(./summarybackground2.jpg);

  }
}
/* DESKTOP */
@media (min-width: 1000px) {
  .summary {
    background: url(./summarybackground2.jpg);
  }
  }
  

