body{
  background: linear-gradient(to bottom, #e8c3ce 0%, #a483de 100%);
  height:100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
}
section{
  border:2px solid black;
  border-radius: 5px;
  padding: 25px;
  height:150px;
  background: linear-gradient(to bottom, #dd879f 0%, #4e337e 100%);
  text-align: center;
}
h2{
  padding:35px;
}