.totalSummary p {
    color: rgb(37, 58, 37);
    font-size: 20px;


}

.totalSummary {
  background-color:rgb(225, 236, 216);
  margin: 100px;
  padding: 150px;
  line-height: 50px;
  display: flex;
  text-align: center;   
}