@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power-rangers-image{
    width: 70%;
    margin-bottom: 4vh;
}

input[type = "text"]{
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 0;
    font-size: 1em;
}

@media screen and (min-width:768px) {
    .power-rangers-image{
        width: 80%;
    }
}

@media screen and (min-width:1024px) {
    .power-rangers-image{
        width: 50%;
    }
}