@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.power-rangers-image{
    width: 70%;
    margin-bottom: 3vh;
}

input[type = "text"]{
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
    padding: 5px;
}