.turtles-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turtles-image{
    width: 60%;
    margin-bottom: 4vh;
}

@media screen and (min-width:768px) {
    .turtles-image{
        width: 50%;
    }
}