.form_radio{
    width: 100%;
}

.answer_form_radio{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    background: cornsilk;
}

.form_radio_input{
    margin: 5px;
    cursor: pointer;
}

.form_radio_label{
    margin: 20px auto;
    font-size: 1.5rem;
   
}

.form_radio_dark{
 background: rgb(8, 32, 50);
 color: white;
}

.form_radio_ligth{
background:white;
color: rgb(8, 32, 50);
}

.form_option_background{
    display: flex;
    align-items: center;
    width: 70%;
    margin: 20px auto;
}

.form_radio_label_with_image{
    display: inline;
    margin: 10px auto;
 
       
}
.radio_label_image{
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    border: 3px solid rgb(240, 165, 0);
}

.radio_label_with_image_text{
 width: 10%;
}



@media (min-width: 768px) {
.form_option_background{
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
}
}

@media (min-width: 992px) {
    /* .dropdown_image_container{
          flex-direction: row;
     
      
    } */
}