.form_radio_container_3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
.form_radio_container_3{
    flex-direction: row; 
    /* no esta functionando  */
}
}



