.answer_form_range_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer5_range_container{
  height: 200px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

.form_range_input{
  width: 300px; 
  height: 15px; 
  -webkit-appearance: none;
  background: rgb(240, 165, 0);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}

.form_range_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}


.range_output{
  color: rgb(240, 165, 0);    
  max-width: 100px;
  align-self: center;
  font-size: 1.5rem;
  margin: 5px auto;
}

.form_range_label{
  display: flex;
  flex-direction: row;
  color:white;
  justify-content: center;
  font-size: 1.5rem;
}

@media (min-width: 768px) {

.form_range_input{
  width: 400px; 
}
}
