* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
}
.outer-wrapper {
    height: 100%; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
  width: 100vw;
  height: 40vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
}

.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100%;
  color: #ded5d5;
  position: absolute;
  top: 0;
}

.header-text {
  width: 80%;
  margin: 2rem auto;
}
label {

}
.inner-wrapper {
    color: #ded5d5;
    padding: 2rem;
    font-size: 20px;
    width: 80%;
}
fieldset{
  border: transparent;
}

h1 {
  text-align: center;
}
.question-wrapper {
    padding: 2rem;
}

.input-field {
  margin: 0.5rem;
  width: 200px;
}

input[type=text] {
  appearance: none;
  color: #979797;
  height: 28px;
  padding-left: 10px;
  text-decoration: none;
  background-color: #ded5d5;
  border-radius: 5px; 
  border: 0;
}

input[type="text"]:focus {
  background-color: #c2baba; 
}

input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;  
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #ded5d5;
  border-radius: 50%;
  margin: 0 1rem -5px 0.5rem;
  
}

input[type='radio']:focus {
  background-color: #ded5d5;
}

select.input-field{
  background: #ded5d5;
  color: #000;
  padding: 0 10px;
  font-size: 22px;
  border-radius: 5px; 
  border: 0;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.submit-button {
    margin: 2rem auto;
    display: flex;
    font-size: 20px;
    padding: 1rem;
    border-radius: 10px;
    border: 0;
    background-color: #ded5d5;
}