.button-start {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 4px 6px;
    font-size: 16px;
    color: #000000;
    background-color: transparent;
}

/*Tablet media query*/
@media (min-width: 667px) {
    .button-start {
        font-size: 18px;
    }
}
