input[type="text"] {
  border: none;
  width: 70%;
  padding: 10px;
  margin: 30px auto;
  background-color: transparent;
  border-bottom: 2px solid var(--prim);
  font-size: 24px;
}

::placeholder {
  color: rgb(170, 170, 170);
  font-size: 20px;
}