.responsible-booking {
  display: flex;
  flex-direction: row;
  grid-column-gap: 20px;
  column-gap: 20px;
}

.responsible-booking__email-number {
  display: flex;
  flex-direction: column;
  width: 130px;
}
