.story_container{
  animation: starwar 5s linear; 
  width: 80%;
  margin: 0 auto;
  height: 100%;
  animation: starwar ease 5s;
  -webkit-animation: starwar ease 5s;
  -moz-animation: starwar ease 5s;
  -o-animation: starwar ease 5s;
  -ms-animation: starwar ease 5s;
}

.star-wars {
  display: flex;
  justify-content: center;
  line-height: 150%;
  height: 800px;
  text-align: justify;
}

.story_text {
  color: rgb(240, 165, 0);
  margin: 20% auto;
  font-size: 1.2rem;
  line-height: 100%;
  text-align: justify;
}

.story_title {
  font-size: 100%;
  text-align: center;
}
.result_info{
  color:darkorange;
  text-decoration: underline;
}

@keyframes starwar {
  0% {
    margin-top: -23%;
  }
  100% {
    margin-top: 0%;
  }
} 

