/* --------------------------- WRAPPER & ALIGNMENT -------------------------- */
.button {
  width: fit-content;
  height: 50px;
  align-self: center;
  background-color: transparent;
  border: 2px solid var(--primary);
  cursor: pointer;
  padding: 10px 20px;
  text-transform: uppercase;
}

/* ------------------------------ HOVER EFFECTS ----------------------------- */

.button:focus,
.button:hover {
  background-color: var(--primary);
  color: var(--darkAlt);
  outline: none;
}
