.default-button {
  font-size: 1.2rem;
  color: #fff;
  border-radius: 0.2rem;
  background-color: #b3b8b8;
  border: none;
  padding: 1rem 2rem;
}

.default-button:hover,
.default-button:focus {
  background-color: #1f9187;
}

.default-button:active {
  background-color: #f1efed;
}

.start-button {
  align-self: start;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2rem;
  color: #fff;
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  max-width: 200px;
}

.start-button {
  font-size: 1.5rem;
  grid-column: 1 / span 4;
  max-width: 250px;
}

.start-button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #1f9187;
}

.submit-button {
  grid-column: 1;
  height: 60px;
  width: 200px;
}