.secondo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.image-container-secondo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

}
.image-container-secondo img {
    border-radius: 20%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.selector{
    display: flex;
    justify-content: center;
    align-items: center;
}