.button-next {
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 2px 6px;
    font-size: 16px;
    color: #000000;
    background-color: transparent;
}

/*Tablet media query*/
@media (min-width: 667px) {
    .button-next {
        font-size: 18px;
    }
}

/*Desktop media query*/
@media (min-width: 1025px) {
    .button-next {
        width: 70px;
        padding: 4px 6px;
    }
}