.home_container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.home_image_container{
    margin: 50px;
    display: flex;
}

.home_image{
    width: 200px;
    height: 150px;
    border-radius: 10%;
    overflow: hidden;
    margin: 0 auto;
}

.home_text{
    text-align: center;
    color: rgb(240, 165, 0);
    margin-top: 40px;
    width: 80%;
}

.home_button{
    background-color: rgb(240, 165, 0);
    border-color: 1 px solid rgb(51, 71, 86);
    color: rgb(51, 71, 86);
    width: 200px;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width: 768px) {
  .home_image{
    width: 250px;
    height: 200px;
}
}

@media (min-width: 992px) {
    .home_image{
    width: 70%;
    height: 70%;
}
}