.checkbox {
  height: 20px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.checkbox-label {
  border: 2px solid #1f9187;
  display: block;
  height: auto;
  padding: 1rem 0.5rem;
  position: relative;
  width: 100%;
}

.checkbox-label-text {
  color: #1f9187;
  font-weight: bold;
  width: 100%;
}

.checkbox:checked + .checkbox-label-text {
  color: #fff;
}

.checkbox:checked + .checkbox-label-text::after {
  background-color: #1f9187;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.checkbox:focus + .checkbox-label-text::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  outline: thick double #ff6347;
  z-index: -1;
}

.survey-section .checkboxes {
  grid-column: 1;
  margin-top: 2rem;
}

@media screen and (min-width: 668px) {
  .checkbox-label {
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .checkbox-label {
    margin: 0;
    max-width: 430px;
    width: 100%;
  }
}