.form {
  min-width: 30%;
  text-align: center;
  background-color: white;
  opacity: 0.85;
  padding: 2rem;
  border-radius: 5%;
}

.form h1 {
  color: teal;
}

.submit-button {
  background-color: teal;
  color: white;
  border: 1px solid teal;
  margin-top: 10px;
  padding: 3px;
}
