.radiobuttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.radiobutton {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.radiobutton-label {
  border: 2px solid #1f9187;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
  width: 100%;
}

.radiobutton-label-text {
 color: #1f9187;
 font-weight: bold;
 text-align: center;
}

.radiobutton:checked + .radiobutton-label-text {
  color: #fff;
 }

.radiobutton:checked + .radiobutton-label-text::before{
  background-color: #1f9187;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.radiobutton:focus + .radiobutton-label-text::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  outline: thick double #ff6347;
  z-index: -1;
}

.survey-section .radiobuttons {
  grid-column: 1;
  margin-top: 2rem;
}


@media screen and (min-width: 1024px) {
  .radiobuttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .radiobutton-label {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}