select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #E3E6E7;
  background-image: url('../icons8-down-button-48.png');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 20px 20px;
  border: none;
  border-radius: 0.5rem;
  display: block;
  font-weight: bold;
  height: 60px;
  padding: 1rem 0.5rem;
  margin: 1rem 0;
  width: 100%;
}
option::selection  {
  background-color: #779fa1;
}

.survey-section select {
  grid-column: 1;
}