.questions-container {
    height: 100vh;
    background-color: #FFF5E9;
    padding-top: 50px;
    padding-bottom: 50px;
}

.first-question, .second-question, .third-question {
    border: 6px solid #b07653;
    display: flex;
    width: 55%;
    max-width: 750px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: white;
}

.radio-buttons-text, .day-select-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
    padding: 5px;
}

.radio-buttons-text p, .number-select-text p, .day-select-text label{
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 10px;
}

.first-button {
    width: 90px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #f3bc0f;
    border: none;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

.first-question-img {
    width: 50%;
    object-fit: cover;
    min-height: 270px;
}

label, select {
    font-size: 20px;
}

/*Second question additinal styling*/
.second-question, .third-question {
    margin-top: 50px;
}

.number-input {
    font-size: 20px;
}

.number-select-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
    padding-left: 15px;
    padding-bottom: 5px;
}

/* Third question styling */
a {
    text-decoration: none;
    color: black;
}

.last-button {
    width: 130px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    background-color: #f3bc0f;
    border: none;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
}

.day-select-text {
    padding-top: 45px;
}

/*Media Queries*/
/*MOBILE*/
@media (max-width: 666px) {
    .first-question, .second-question, .third-question {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 550px;
    }

    .first-question-img {
        width: 100%;
    }

    .questions-container {
        height: 100%;
    }
}