.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: var(--clr-secondary);
  border-radius: 50%;
}

.container input:checked ~ .dot {
  background-color: var(--clr-primary);
}

.dot:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .dot:after {
  display: block;
}

.container .dot:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--clr-secondary);
}

.age-input form {
  display: flex;
  flex-wrap: wrap;
}

.age-input label {
  margin-left: 10px;
}

.age-input label:first-child {
  margin-left: 20px;
}