.summary-section {
  height: 100vh;
  padding: 3rem 2rem 2rem 2rem;
  width: 100%;
}

.summary-title {
  color: #1f9187;
  font-size: 2rem;
  text-align: left;
}

.summary-description {
    font-size: 2rem;
}

.summary-section ul {
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.user-answer {
  color: #1f9187;
  font-weight: bold;
}


@media screen and (min-width: 668px) {
  .summary-title {
    font-size: 5rem;
  }
  .summary-description {
    font-size: 2rem;
  }

}
@media screen and (min-width: 1024px) {
  .summary-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 4rem;
    border-bottom: 2px solid #ededed;
    text-align: left;
  }
  .summary-title {
    font-size: 4rem;
    grid-column: 1;
  }
  .summary-section ul {
    font-size: 2rem;
    grid-column: 1;
    margin-left: 2rem;
  }

}