.survey-section {
  display: grid;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}


@media screen and (min-width: 668px) {
  .survey-section {
    margin: 0 auto;
    max-width: 600px;
  }

}
@media screen and (min-width: 1024px) {
  .survey-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 0.5rem;
    padding: 4rem;
    text-align: left;
    max-width: 100%;
  }
}