.name-wrapper {
    display: block;
    flex-direction: column;
}

input {
    font-family: 'Frank Ruhl Libre', serif;
    margin: 2px;
}

.name-input[type=text]:focus {
    outline: solid 1px rgb(9, 9, 9);
    font-weight: bold;
  }

  label[for="name-input"] {
    font-size: 24px;
    font-weight: bold;
  }
  