body {
	display: flex;
	justify-content: center;
	border-radius: 3px;

	background-color: #caccd9;
	background-image: url("../images/Dragon-Scales.svg");
	background-attachment: fixed;
	background-size: contain;
}

h1 {
	border-radius: 3px;
	color: white;
	background: #424874;
	padding: 15px 0;
	margin: 0;
	width: 90%;
	font-size: 25px;
}

h2 {
	border-radius: 3px;
	color: white;
	background: #424874;
	padding: 10px 0;
	width: 90%;
}

h3 {
	border-radius: 3px;
	color: #fff;
	background: #797b82;
	margin: 0;
	padding: 6px 0;
	width: 80%;
}

h4 {
	border-radius: 3px;
	color: #042735;
	background: #dcd6f7;
	padding: 2px 0;
	margin: 0;
	width: 50%;
}

h4:hover {
	transform: scale(1.2);
}

.underline {
	text-decoration: underline;
}

.emoji {
	font-size: 25px;
}

.surveyContainer {
	width: 90vw;
}

/* STYLING FOR THE CONTAINER FÖR ALL QUESTIONS */
.questionContainer {
	border-radius: 3px;
	width: 98%;
	height: 98vh;
	margin: 0 auto;
	background-color: #f4eeff;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.dogGif {
	border-radius: 3px;
	max-width: 70%;
	margin: 15px;
}

/* BUTTON STYLING */

.buttonContainer {
	display: flex;
	flex-direction: row;
}

.buttonContainer button {
	border-style: none;
	border-radius: 6px;
	border: 3px solid rgb(121, 123, 130, 0.2);
	margin: 10px;
	padding: 10px;

	font-size: 18px;
	font-weight: 600;

	background: #dcd6f7;
	color: #424874;

	transition: 0.3s;
}

.buttonContainer button:focus,
button:hover {
	/* box-shadow: 0px 0px 0px 1px #424874; */
	border: 3px solid rgb(121, 123, 130, 0.6);
	transform: scale(1.1);
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

/* FIRST QUESTION STYLING */

.inputText {
	width: 80%;
	margin: auto;
	border-style: none;
	outline-style: none;
	border-radius: 3px;
	padding: 5px;
	font-size: 18px;
	box-shadow: 0px 0px 0px 3px rgb(66, 72, 116, 0);
	transition: 0.5s;
}

.inputText:focus {
	box-shadow: 0px 0px 0px 3px rgb(66, 72, 116, 1);
	padding: 5px;
}

/* SECOND QUESTION STYLING */

select {
	width: 70%;
	margin: auto;
	border: none;
	border-style: none;
	border-style: none;
	outline-style: none;
	border-radius: 3px;

	color: #424874;
	font-size: 18px;
	box-shadow: 0px 0px 0px 3px rgb(66, 72, 116, 0);
	transition: 0.5s;
}

select:focus,
select:hover,
select:active {
	box-shadow: 0px 0px 0px 3px rgb(66, 72, 116, 1);
	padding: 5px;
}

label {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(66, 72, 116, 0.7);
	margin-bottom: 10px;
}

.radioButtonContainer {
	display: flex;
	flex-direction: column;
	width: 80px;
	align-self: center;
}

.inputContainer {
	display: block;
	text-align: end;
	position: relative;
	font-size: 22px;
	-webkit-user-select: none;
	user-select: none;
}

.inputContainer input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #caccd9;
	border-radius: 3px;
}

.inputContainer:hover input ~ .checkmark {
	border: 3px solid #424874;
	height: 15px;
	width: 15px;
}

.inputContainer input:checked ~ .checkmark {
	background-color: #424874;
}

@media (min-width: 668px) {
	.surveyContainer {
		width: 450px;
	}
	.questionContainer {
		width: 450px;
		height: 650px;
	}

	form {
		width: 450px;
	}
}
