.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #232e42;
  height: 100vh;
  color: #f7d4b8;
}

//@media only screen and (min-width: 768px);
