main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/88cd4e06-e4dc-45bb-90b6-a7146f058af1/ddjczul-71416ea2-360a-4db2-aa33-fa34e497730a.jpg/v1/fill/w_1600,h_724,q_75,strp/halloween_2019_by_unidcolor_ddjczul-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03MjQiLCJwYXRoIjoiXC9mXC84OGNkNGUwNi1lNGRjLTQ1YmItOTBiNi1hNzE0NmYwNThhZjFcL2RkamN6dWwtNzE0MTZlYTItMzYwYS00ZGIyLWFhMzMtZmEzNGU0OTc3MzBhLmpwZyIsIndpZHRoIjoiPD0xNjAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.J_HP1qFL96H1vpBeZXaUqNjflkuN2wYGp7aYbbKAop0');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 60px 20px; */
    /* height: 330px; */
    height: 66vh;
    /* position: relative; */
}

h3 {
    transition: all 1s;
    font-size: 16px;
    letter-spacing: 0.6px;
}

.survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(20, 21, 26, 0.7);
    border-radius: 10%;
    text-align: center;
    padding: 20px;
    /* position: absolute;
    top: 120px;
    right: 0;
    bottom: 100px;
    left: 0; */
}

.name {
    width: 202px;
}

.name,
.selected-activity {
    padding: 12px;
    background: #14151A;
    color: #ddd;
    border: 2px solid #ddd;;
    border-radius: 4px;
    font-size: 14px;
}

.favourite-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favourite-color {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.8;
}

.selected-activity {
    line-height: 1.8;
    width: 230px;
}

/* input[type="radio"]{
    opacity: 0;
    width: 0;
    margin: 0;
} */

.submit-button {
    margin: 20px 0 15px 0;
}

.summary p {
    margin: 15px 0;    
}

@media (min-width: 700px) {
    /* main {
        height: 501px;
    } */

    .survey {
        width: 470px;
        padding: 35px;
    }

    h3 {
        font-size: 24px;
    }

    h3:hover {
        letter-spacing: 2px;
    }

    .name,
    .favourite-color,
    .selected-activity,
    .summary p,
    .the-end p {
        font-size: 20px;
    }
}