button p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 33px;
    width: 40%;
    background-color: #F26363;
    font-size: 3vmin;
    appearance: none;
    background: #F26363;
    border: none;
    color: #fff;
    border-radius: 2em;
    padding: 0.1em .7em;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
    box-shadow: 0 0 12px 6px white;
    transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
  }
  
  button:hover {
    box-shadow: 0 0 20px 10px pink;
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: scale(0.8) translateY(10%);
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }
  
  