@keyframes press {
  0% {
    background-color: var(--blue);
  }
  100% {
    background-color: var(--purple);
  }
}

.link-button {
  background-color: var(--blue);
  width: 100%;
  border: 1px solid var(--beige);
  color: var(--beige);
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 20px;
}

.link-button:hover {
  animation: press 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
