.question {
    font-family: 'Yuji Syuku', serif;
    font-size: 28px;
    color: #324e66;
    padding: 0;
    margin: 0px 0px 10px 0px;
}

.input-field {
    font-family: 'Yuji Syuku', serif;
    color: #804247;
    height: 24px;
    /*background: white;*/
    background: rgba(255, 255, 255, 0.34);
    border-radius: 7px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    /*border: none;
    border-radius: 5px;*/
    font-size: 16px;
    padding: 1px 0px 1px 3px;
    margin: 10px 0px 10px 0px;
}

input[type="radio"] {
    color: #324e66;
    margin: 20px 10px 35px 10px;
}


.age-options {
    font-family: 'Yuji Syuku', serif;
    font-size: 20px;
    color: #324e66;
    opacity: 80%;
    margin-bottom: 10px;
}

.radio-buttons {
    margin-bottom: 10px;
    border: none;
}

.select-menu {
    font-family: 'Yuji Syuku', serif;
    font-size: 18px;
    color: #324e66;
    background: rgba(255, 255, 255, 0.34);
    border-radius: 7px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin: 10px 0px 30px 0px;
}

/* This does not do anything */
#select option,
#select optgroup {
    font-family: 'Yuji Syuku', serif;
    color: #5489B3;
    background-color: #F9DCD4;
    opacity: 80%;
}

@media (min-width: 668px) and (max-width: 1024px) {

    .question {
        font-size: 30px;
        margin: 20px 0px 20px 0px;
    }
    
    .input-field {
        font-size: 20px;
        height: 29px;
        width: 280px;
        padding: 2px 0px 3px 6px;
        margin: 20px 20px 20px 0px;
    }

    .select-menu {
        font-size: 20px;
    }
    
  }
      
  
  @media (min-width: 1025px) {
    
    .question {
        font-size: 30px;
        margin: 20px 0px 10px 0px;
    }
    
    .input-field {
        font-size: 22px;
        height: 32px;
        width: 300px;
        padding: 2px 0px 3px 6px;
        margin: 10px 0px 30px 0px;
    }
  
    .select-menu {
        font-size: 20px;
    }
  } 