/*
.header-title {
    text-align: center;
    margin: 0;
    padding: 30px 20px;
}

.survey-container {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 1px solid white;
    padding: 40px 10px;
    margin: 20px;
} */