.question {
    font-family: 'Yuji Syuku', serif;
    font-size: 20px;
    color: bisque;
    padding: 0;
    margin: 0px 0px 10px 0px;
}

.input-field {
    font-family: 'Yuji Syuku', serif;
    background: white;
    opacity: 70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0;
    margin: 10px 0px 10px 0px;
}

.select-menu {
    font-family: 'Yuji Syuku', serif;
    color: #5489B3;
    background-color: #F9DCD4;
    opacity: 80%;
}

#select option,
#select optgroup {
    font-family: 'Yuji Syuku', serif;
    color: #5489B3;
    background-color: #F9DCD4;
    opacity: 80%;
}

@media (min-width: 668px) and (max-width: 1024px) {

    .question {
        font-size: 30px;
        margin: 20px 0px 20px 0px;
    }
    
    .input-field {
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
    
  }
      
  
  @media (min-width: 1025px) {
    
    .question {
        font-size: 30px;
        margin: 20px 0px 20px 0px;
    }
    
    .input-field {
        font-size: 20px;
        margin: 20px 0px 20px 0px;
    }
  
  } 