.select-container {
    display: flex;
    justify-content: center;
}

select { 
    width: 100%;
    padding: 0px;
    font-size: 20px;
    height: 40px;
    color: black;
    border-radius: 10px;
}

.form-dropdown .sub-heading {
    display: block;
}
