.dropdown-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  color: whitesmoke;
  margin-top: 40px;
  border-style: outset;
}

.dropdown-question {
  margin: 0;
  margin-bottom: 25px;
  font-size: 25px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  background-color: lightgray;
}

@media (min-width: 768px) {
    .dropdown-container {
      width:600px;
    }

  .dropdown-question {
      font-size: 16px;
  }
}
