.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(205, 180, 228, 0.447);
  gap: 20px;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border-color: cornflowerblue;
}

.button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border-color: cornflowerblue;
  background-color: blueviolet;
  font-family: "Oswald", sans-serif;
  color: cornflowerblue;
}

@media (min-width: 768px) {
  .container {
    margin: 50px;
  }

  .label-container {
    font-size: 26px;
  }

  .input-container {
    padding: 15px;
  }

  .button {
    font-size: 18px;
  }
}
