body {
  background-color: #c6cee3;
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 300;
}
h2 {
  font-family: "Sacramento", cursive;
  font-size: 42px;
  font-weight: lighter;
}
form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
