.firstQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.starRating {
  display: flex;
  padding-left:15px;
}

.star{

    margin-right:10px;
    width: 32px;
    height: 32px;
    font-size: 48px;

}

.starRating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
  
}
.on {
  color: #644e02;
  
}
.off {
  color:#ccc;
}
.number{
    color: #644e02;
    margin-right: 25px;
    font-size: 18px;
}


