.food-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.food-header {
  text-align: center;
}

.food-types {
  margin-top: 15px;
  text-align: center;
}

.food-image {
  display: none;
}

/* -- Radio button -- */

.radiobutton-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 5px;
  font-size: 16px;
  user-select: none;
}

.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #8a083c;
}

.radiobutton-container input:checked ~ .custom-radio {
  background-color: #344b5b;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

.radiobutton-container input:checked ~ .custom-radio::after {
  display: block;
}

.radiobutton-container input:focus + .custom-radio {
  outline: #8a083c auto 2px;
}

.radio-button:checked {
  background-color: #344b5b;
  border: 2px solid #8a083c;
}

/* TABLET VERSION */

@media (min-width: 768px) {
  .food-image {
    display: block;
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .food-header {
    margin-top: 15px;
  }

  .radio-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* DESKTOP VERSION */

@media (min-width: 1025px) {
  .food-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .food-types {
    display: flex;
    flex-direction: row;
  }

  .food-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .food-title {
    font-size: 25px;
  }
}
