footer {
  flex-shrink: 0;
  position: relative;
  height: 70px;
  background: #152238;
  color: #fff;
}

footer:before {
  content:"";
  position:absolute;
  top:-59px;
  right:0;
  left:0;
  height:60px;
  background:linear-gradient(to bottom right, transparent 49%, #152238 50%);
}

.project-credits {
  text-align: center;
  font-size: 0.8rem;
}

.project-credits a {
   color: #fff;
   font-weight: bold;
}

@media (min-width: 750px) {
  .project-credits {
    font-size: 1rem;
  }
}