
.footer {
    width: 100%;
    bottom: 0;
    background-color: white;
    height: 50px;
}

.footer a {
    text-align: center;
    display: block;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    text-decoration: underline;
    font-size: 15px;
    color: black;
    padding: 15px;
  }