.form-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select {
    background: #414141;
    height: 30px;
    width: 80%;
    font-size: 15px;
    color: #fff;
}

select:focus {
    outline: 2px solid #1089ff;
    outline-offset: -1px;
}

.radio-circle input[type=radio] {
    position: absolute;
    cursor: pointer;
    appearance: none;
    display: none;
}

.radio-circle {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 24px;
}

.radio-circle .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 26px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
}

input[type=radio]:focus {
    outline-offset: 2px;
}

.radio-circle:hover input~.checkmark {
    background: #ffdc34;
}

.radio-circle input[type=radio]:checked~.checkmark {
    background: #f77754;
}

.checkboxes {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 24px;
}

.checkboxes input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    appearance: none;
    display: none;
}

.checkboxes .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 26px;
    width: 26px;
    background: #eee;
}

.checkboxes:hover input~.checkmark {
    background: #ffdc34;
}

.checkboxes input[type=checkbox]:checked~.checkmark {
    background: #f77754;
}

.submit-btn {
    width: 80%;
    padding: 10px;
    margin: 40px 0 20px 0;
    border-radius: 10px;
    border-style: none;
    background: #ca3e47;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
}

.qa {
    background-color: red;
}