
/* The Form-element */
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

/* The Buttons */
.button-container{
  display: flex;
  justify-content: center;
}

button { 
  padding: 6px 10px;
  margin: 10px;
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 16px;
  font-weight: bold;
  background: #354F52;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 8px;
  color:#CAD2C5;
  align-self: center;
} 

button:hover {
  border: 2px solid #CAD2C5;
}

/* Name Input */ /* Email Input */ 
/* Radiobutton Input */ /* Dropdown Input */
/* Checkbox Input */
.name-label, .email-label, .radiobutton-label, 
.dropdown-select, .checkbox-label {
  margin: 10px;
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 16px;
}

.name-input, .email-input, .radiobutton-input, 
.checkbox-input {
  margin: 6px;
}

.name-input, .email-input, .dropdown-select {
  color: #52796F;
  border: none;
  border-bottom: 1px solid #52796F;
  background-color: #CAD2C5;
  padding: 12px 6px 8px 6px;
  width: 300px;
}

input::placeholder {
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 16px;
  color: #84A98C;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid #52796F;
}

/* Media queries*/
@media (min-width: 668px) { /* Tablet device */
  form {
    width: 500px;
    justify-content: center;
  }
}

@media (min-width: 1024px) { /* Desktop device */
 
}