.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  display: flex;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
