.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.label-radio {
  justify-content: space-around;
  text-align: right;
}

.label:first-of-type {
  margin-top: initial;
}

.label:last-of-type {
  margin-bottom: initial;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
