.form {
  width: 650px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 2em 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;

}

.radio-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.news-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .form {
    width: 75%;
  }
}