.form-summary {
  padding: 20px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.form-summary::-webkit-scrollbar {
  display: none;
}

.form-summary h4 {
  margin-bottom: 5px;
}

.form-summary-label {
  display: inline;
  margin-right: 10px;
}

.form-summary-answer {
  display: inline;
}
