form,
.summery-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-container {
  box-sizing: border-box;
  margin: auto;
  padding-top: 50px;
  width: 100%;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
