/* The Form-element */
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

/* Name Input */ /* Email Input */ 
/* Radiobutton Input */ /* Dropdown Input */
/* Checkbox Input */
.name-label, .email-label, .radiobutton-label, 
.dropdown-select, .checkbox-label {
  margin: 10px;
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 16px;
}

.name-input, .email-input, .radiobutton-input, 
.checkbox-input {
  margin: 6px;
}

.radiobutton-input, .dropdown-select, option {
  cursor: pointer;
}

.name-input, .email-input, .dropdown-select {
  color: #52796F;
  border: none;
  border-bottom: 1px solid #52796F;
  background: #CAD2C5;
  padding: 12px 6px 8px 6px;
  width: 300px;
}

input::placeholder {
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 14px;
  color: #84A98C;
}

/* Special styling of the radiobuttons */
.radiobutton-label {
  color: #84A98C;
}

.radiobutton-input {
  appearance: none;
  position: relative;
  background: #84A98C;
  border-radius: 15px;
  border: 1px solid #52796F;
  height: 15px;
  width: 15px;
  top: 8px;
  right: 4px;
}

.radiobutton-input:checked::before {
  position: absolute;
}

.radiobutton-input:hover {
  background-color: #52796F;
}

.radiobutton-input:checked {
  background-color: #354F52;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid #52796F;
}

/* Media queries*/
@media (min-width: 668px) { /* Tablet device */
  form {
    width: 500px;
    justify-content: center;
  }
}

@media (min-width: 1024px) { /* Desktop device */
 
}