body {
    background-image: url('../images/headphones.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    text-align: left;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color:rgba(151, 93, 187, 0.5);
    width: 40%;
    height: 300px;
    text-align: left;
    padding: 50px;
    margin-top: 10px;
    border: grey solid 1px;
    border-radius: 5px;
}

label {
    margin-right: 30px;
}

.name-question {
    margin-bottom: 10px;
    margin-left: 20px ;
}


.musician-question {
    margin-bottom: 10px;
    margin-left: 20px ;
}

.musician-question input {
    margin-bottom: 10px;
    margin-right: 30px;
}

p {
    margin-bottom: 10px;
}

.instrument-question {
    margin-left: 20px;
}

.instrument-question, select {
    margin-top: 10px;
    width: 80%;
}

button {
    width: 60px;
    margin: 40px 20px;
}


