.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.label {
  display: flex;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
