// @import '../variables.scss';

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;

  &__section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__label {
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    color: #f3cbaa;
    text-transform: uppercase;
  }
}
