.fourth-question {
  background-color: #ff9ec0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
select {
  padding: 10px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  cursor: pointer;
}
form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
}
@media screen and (min-width: 360px) and (max-width: 667px) {
  button {
    padding: 14px 10px;
    width: 80%;
  }
  label,
  select {
    margin-bottom: 50px;
  }
}
