.second-container {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.fourth-text {
  font-weight: 400;
  margin: 0;
}

.slide-container {
  width: 90%;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 20px;
  background-color: blueviolet;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: cornflowerblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: cornflowerblue;
  cursor: pointer;
}
