:root{
  --background: #9cacbf;
  --question: #012e67;
  --text: #032e42;
  --background2: #90bff9;
  --border: #0a1417;
  --buttonBackground: #254852;
}

.header {
  background: linear-gradient(0deg, rgba(1,46,103,1) 50%, rgba(206,229,255,1) 100%);
}
.logo-buttons-wrapper{
  display:flex;
  justify-content: space-between;
}
.logo {
  width: 90px;
  margin: 10px 0px 20px 10px;
}
.heading-header{
  font-size: 30px;
  margin-bottom: 30px;
  font-family: Della Respira;
  color: white;
  font-weight: 600;
  text-align: center;
}
.media-buttons {
  margin: 15px 10px;
}
.fab {
  font-size: 30px;
  margin-left: 5px;
  color: var(--border);
  cursor: pointer;
}

.fab:hover {
  opacity: 0.7;
}