header {
  height: 100px;
  width: 100%;
  margin: 0px;
}

h1 {
  background: #f147c7;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-size: 30px;                                                      
  color: #ffff;
  border-bottom: 1px solid #f147c7;; 
  margin: 10px;
  display: inline; 
}
