.header-bg {
  height: 100%;
  width: 100%;
  background-color: rgb(20, 45, 54);
  overflow: hidden;
  position: relative;
}

.header-bg__circle {
  position: absolute;
  border-radius: 50%;
}

.circle--big {
    top: -50px;
    width: 300px;
    height: 300px;
    border: solid rgb(5, 184, 255);
    background-color: rgb(129, 181, 202);
  }

.circle--small {
  top: 100px;
  left: 50%;
  border: solid rgb(5, 255, 180);
  background-color: rgb(130, 210, 221);
  width: 200px;
  height: 200px;
  font-size: 20px;
  font-weight: 600;
  color: blue;
}

.circle--small:after {
  content: "";
  position: absolute;
  left: 20%;
  top: 40%;
  animation: txt 5s alternate infinite;
}

@keyframes txt {
  0% {
    content: "Mars?";
  }
  20% {
    content: "Cyborgs?";
  }
  40% {
    content: "Hoverboards?";
  }
  60% {
    content: "Aliens?";
  }
  80% {
    content: "Immortality?";
  }
  100% {
    content: "Timetravel?";
  }
}

h1 {
  top: 10px;
  left: 40px;
  position: absolute;
  margin: 0;
  z-index: 1;
  color: white;
  text-shadow: 5px 5px rgb(28, 217, 223);
}

@media screen and  (min-width: 700px) {
    .circle--big {
        width: 400px;
        height: 400px;
        left: 10%;
    }

    .circle--small {
      width: 250px;
      height: 250px;
      font-size: 30px;
    }

    h1 {
        top: 20px;
        left: 100px;
        left: 17%;
 }
}

@media screen and  (min-width: 1500px) {

    .circle--big {
        width: 600px;
        height: 600px;
        top: -90px;
        left: 25%;
    }

    .circle--small {
      width: 350px;
      height: 350px;
      top: 150px;
      font-size: 40px;
    }

    h1 {
        top: 70px;
        left: 30%;
 }

}
