header {
  height: 100px;
  width: 100%;
  margin: 0px;
}

h1 {
  background: #f147c7;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  font-size: 30px;                                                      
  color: #ffff;
  border-bottom: 1px solid #f147c7;; 
  margin: 10px;
  display: inline; 

}

@media (min-width: 668px) and (max-width: 1024px) {
  header {
    text-align: center;
  }
  h1 {
    padding-left: 0;
  }
}