header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: fit-content;
  border-bottom: 2px solid #ea5929;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}
img {
  width: 70px;
  height: auto;
}

h1 {
  text-align: center;
  color: #494c50;
}
