.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

input.input-contact {
  margin: 10px auto;
  width: 60%;
  border: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 18px;
}

input.input-contact::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-style: italic;
}

input.input-contact:hover {
  font-style: normal;

  cursor: pointer;
}

input.input-contact:hover::placeholder {
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}

/* change autocomplete styles in WebKit */
/* code from https://css-tricks.com/ */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #fff;
  font-size: 18px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* changing auto-outline for text */
input[type="text"]:focus {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 4px;
  color: #fff;
  border-bottom: 3px solid rgba(255, 255, 255, 1);
}
