button {
  background-image: url(./buttonImage.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-color: lightgrey;
  background-position: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 20px;
  color: black;
  border: 3px solid #818380;
  transition: 0.7s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


button:disabled {
  color:lightgrey;
  border: none;
  box-shadow: none;
}


