.self-summary {
  background-color: #efd5c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
}
button.submit {
  padding: 0 0;
  margin: 0;
}
h3 {
  font-family: "PT Serif", serif;
  font-size: 18px;
  font-weight: 300;
}
p {
  font-style: italic;
  text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 667px) {
  .self-summary {
    padding: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    text-align: center;
    padding: 10px;
    margin: 10px;
  }
  h3 {
    font-size: 15px;
  }
  button {
    padding-left: 0;
  }
}
