.overview-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 250px;
}


.overview-content {
    width: 20rem;
    background-color: rgb(240, 255, 240);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    overflow: hidden;
    position: fixed;
}

.overview-content > * {
    padding: 1em;
}

.overview-h2 {
    font-size: 0.75em;
}

.spacing {
    width: 10rem;
    height: 10rem;
}

.overview-progress-bar {
    position: absolute;
    top: 222%;
}

.end-survey-btn {
    position: absolute;
    top: 250%;
}

span {
    font-weight: 700;
    padding-right: 10px;
}
