/* overview */


h2 {
    color:whitesmoke;
    font-size: 20px;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    margin: 110px 100px 20px 140px;
}

.overview  {
    
   /*  display: flex;
    flex-direction: row;
    text-align: center;
     */
    margin: 10px auto 20px auto;
    margin-left: 10px;
    margin-right: 10px;
    backdrop-filter: brightness(80%);
}

.summary-p  {
    font-size: 17px;
    /* display: flex;
    flex-direction: row;
    text-align: center; */
    font-family: Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    backdrop-filter: brightness(50%);
}

h3 {
    color: rgb(119, 56, 56);
    margin-top: 60px;
    margin-left: 25px;
    font-size: 16x;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
    /* text-transform: uppercase; */
}




/* desktop */
@media (min-width: 668px){

    p {
        font-size: 18px;
        display: flex;
        text-align: center;
        font-family: Helvetica, sans-serif;
    }
}

