
.overview-all {
    display: flex;
    flex-direction: column;
  }
  .overview {
    width: 90%;
    line-height: 20px;
    min-width: 275px;
  }
  
  .overview p {
    margin: 6px;
  }
  .overview p span {
    font-weight: 800;
  }
  
  .thank-you {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
    line-height: 2rem;
  }
  .thank-you h1 {
    font-family: 'Archivo Black';
    color: #A39161;
    font-size: 2.5rem;
    margin: 25px 0;
  }

  .animal img {
    width: 30%;
    display: block;
    margin: 30px auto;
  }