.bar {
    width: 60%;
    height: 1.5em;
    border: 1px solid white;
    border-radius: 10px;
}
.filled {
    height: 100%;
    background-color: skyblue;
    border-radius: 10px;

}



/* .progress-bar {
    height: 25px;
    width: 500px;
    background-color: green;
    animation: fillBar 5s linear 3s both;
  }
  @keyframes fillBar {
    0% {
      width: 0px;
    }
    100% {
      width: 500px;
    }
    
  } */