.progress-bar {
  background-color: var(--orange);
}

.progress-container {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}
