.bar {
background-color:rgba(255, 255, 255, 0.454);
border-radius: 5px;
}

.barbackground{
 background-color: rgba(65, 105, 225, 0.345);
 border-radius: 5px;
}

.progressbar {
    padding-bottom: 100px;
}