.question-input {
  width: 80%;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background-color: lightgray;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  background-color: black;
  color: white;
  margin-top: 40px;
  border-style: outset;
}

.question {
  margin: 0;
  font-size: 20px;
}

/* tablet menu */

@media (min-width: 768px) {
  .question-container {
    width: 600px;
  }

  .question-input {
    width: 50%;
  }
}
