input[type=number] {
    outline: none;
}

.percent-sign {
    position: absolute;
    padding-left: 5px;
    font-size: 18px;
}

/*custom style range slider */
input[type=range] {
    -webkit-appearance: none;  
    appearance: none;
    width: 100%; 
    height: 25px; 
    background: #ffffff; 
    outline: none; 
    opacity: 0.5; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
  }

  input[type=range]:hover {
    opacity: 1; 
  }
  
  /*change handle */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px; 
    background: #40b4ae;
    cursor: pointer;
  }
  
  /*change handle mozilla */
  input[type=range]::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: #4CAF50; 
    cursor: pointer; 
  }

  @media screen and (min-width: 1500px) {
    input[type=number] {
      font-size: 18px;
    }

    .percent-sign {
      line-height: 1em;
      font-size: 25px;
  }
  }
