.text-input {
    margin-bottom: 20px;
}

.text-input input {
    height: 30px;
    width: 0%;
    font-size: 16px;
    animation: expandRight 1s forwards ease-in-out ;
}

@keyframes expandRight {
    from { width: 0%;}
    to { width: 100%;}

}
