.radiobutton {
    display: flex;
    flex-direction: row;
}


.title {
    font-weight: 200;
    font-size: 60px;
    width: 100%;
    margin: 50px;
}

.radiobutton input {
    accent-color: rgb(253, 136, 136);
    scale: 1.5;
    margin: 10px;
}

.radiobutton input:hover {
    accent-color: rgb(255, 193, 193);
}

.value {
    font-size: 40px;
    font-weight: 200;
}
