.radio-small {
  position: absolute;
  top: 1245px;
  margin: 0.5rem 1.5rem 0 1.5rem;
  background-color: rgba(2, 2, 2, 0.63);
  border: solid 1px rgb(250, 246, 246);
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.small-live-heading {
  font-family: Rockwell;
  font-size: 1.2rem;
  color: rgb(250, 246, 246);
  margin: 4px;
  display: contents;
  line-height: 2rem;
  font-weight: unset;
}

.small-venue-heading {
  font-family: Rockwell;
  font-size: 1rem;
  color: rgb(250, 246, 246);
  margin: 4px;
  line-height: 2rem;
  display: flex;
  align-items: baseline;
}

.small-selection-dot {
  margin-right: 1rem;
}

/* MEDIA QUERY TABLET */
@media only screen and (min-width: 768px) {

  .radio-small {
    top: 1210px;
    margin-left: 3rem;
    width: 647px;
  }
}
  
/* MEDIA QUERY DESKTOP */
  @media only screen and (min-width: 992px) {

  .radio-small {
    top: 1455px;
    width: 883px;
  }

  .small-live-heading, .small-venue-heading {
    font-size: 1.6rem;
    line-height: 2.8rem;
  } 
}

/* MEDIA QUERY BIGGER DESKTOP */

@media only screen and (min-width: 1200px) {

 .radio-small {
   top: 1417px;
   width: 1286px;
 }
}