.radiobutton {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.radiobutton form {
    grid-column: 2 / span 2;
    grid-row: auto;
    align-self: start;
    justify-self: center;
}

.radiobutton input {
    justify-self: center;
    align-self: center;
    margin: 0;
}

.radiobutton span {
    font-weight: 200;
    font-size: 60px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1 / span 5;
}