.radio-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  color: whitesmoke;
  margin-top: 40px;
  border-style: outset;
}


@media (min-width: 768px) {
  .radio-container {
    width: 600px;
  }
}
