.radio-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radio-row {
  flex-direction: column;
  display: flex;
  width: 340px;
}

.radiobutton-container {
  display: flex;
  align-items: center;
  text-align: center;
  user-select: none;
  margin: 10px;
  cursor: pointer;
}

.radiobutton-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio-text {
  margin: 0 69px 0 38px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 18px;
  font-style: italic;
}

.radio-text:hover {
  color: rgba(255, 255, 255, 0.7);
  font-style: normal;
}

.custom-radio {
  position: relative;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0 0 0 69px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: 0.2s ease;
}

.radiobutton-container:hover input ~ .custom-radio {
  border: 3px solid rgba(255, 255, 255, 0.7);
  transition: 0.1s ease;
}

.radiobutton-container input:checked ~ .custom-radio {
  border: 3px solid rgba(255, 255, 255, 1);
  transition: 0.1s ease;
}

.radiobutton-container input:checked ~ .radio-text {
  color: #fff;
  font-style: normal;
  transition: 0.1s ease;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: url(../assets/plus.svg);
  display: none;
  margin: 8px;
}

.radiobutton-container input:checked ~ .custom-radio:after {
  display: block;
}

.radiobutton-container input:focus + .custom-radio {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: 3px;
  transition: 0.2s ease;
}

/*** MOBILE ***/
@media (max-width: 667px) {
  .custom-radio {
    margin: 0 0 0 58px;
  }

  .radio-text {
    margin: 0 5px 0 20px;
  }
}
