.range-title {
  font-style: italic;
}

.range-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.range {
  appearance: none;
  width: 100%;
  background: #ceedf4;
  border-radius: 15px 5px;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(242, 247, 143);
  cursor: pointer;
}

.range-choice:hover {
  font-size: 30px;
  font-weight: bolder;
  transition: 0.3s;
}
