.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(100, 148, 237, 0.379);
  gap: 20px;
  border-radius: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.second-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  border-color: blueviolet;
  background-color: cornflowerblue;
  font-family: "Oswald", sans-serif;
  color: blueviolet;
}

.second-button:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .second-container {
    margin-top: 60px;
    width: 400px;
    align-self: center;
  }
  .second-button {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .second-container {
    width: 500px;
  }
}
