.second-question {
  background-color: #ddf5f9;
}
input[type="text" i] {
  padding: 40px 60px;
  font-size: 20px;
  font-style: italic;
  border-radius: 30px;
  text-decoration: none;
  border: 1px solid;
  margin-bottom: 50px;
  background: rgba(255, 255, 255, 0.514);
  justify-content: center;
}
