.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(100, 148, 237, 0.379);
  gap: 20px;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.second-button {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border-color: blueviolet;
  background-color: cornflowerblue;
  font-family: "Oswald", sans-serif;
  color: blueviolet;
}

@media (min-width: 768px) {
  .second-container {
    margin: 50px;
  }
  .second-button {
    font-size: 18px;
  }
}
