.second-question {
  background-color: #ffbbab;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
input[type="text" i] {
  padding: 5px 0;
  width: 500px;
  height: 30px;
  font-size: 18px;
  font-style: italic;
  border-radius: 0;
  text-decoration: none;
  margin: 0;
  border: none;
  background-color: #ffbbab;
  border-bottom: 2px solid rgba(0, 0, 0, 0.055);
  text-align: left;
}
