select ::after {
    color: #DB398D;
}

select {
    border: 1px solid;
}

select {
    font-size: 20px;
    color: #DB398D;
    width: 100%;
    max-width: 230px;
    height: 40px;
    box-sizing: content-box;
    outline: none;
    padding-inline-start: 6px;
}

@media only screen and (min-width: 768px) {
    select {
        max-width: 100%;
    }
}