.start-button {
    background-color: grey;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.06em;
    border-radius: 0.6em;
    line-height: 1.4em;
    padding: 1.2em 1.7em;
    border: 2px solid rgb(0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
}

.description {
    color: white;
    text-align: center;
}
.start-button:hover {
    cursor: pointer;
    background-color: rgb(24, 80, 36);
    color: white;
}

.time-it-takes-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.time-it-takes-wrapper p {
    color: rgb(61, 58, 58);
}

.horloge-icon {
    width: 30px;
    margin-right: 5px;
}
