.start-button {
    background-color: rgb(190, 190, 190);
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.06em;
    border-radius: 0.6em;
    line-height: 1.4em;
    padding: 1.2em 1.7em;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
}

.description {
    color: white;
    font-size: 2em;
    text-align: center;
    max-width: 600px;
}
.start-button:hover {
    cursor: pointer;
    background-color: rgb(219, 213, 42);
    color: rgb(0, 0, 0);
}

.time-it-takes-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.horloge-icon {
    width: 30px;
    margin-right: 5px;
}

@media (max-width: 900px) {
    .description {
      font-size: 1em;
    }
 }