input[name="title"],[name="isbn"],[name="author"]  {
    margin-left: 30px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
  }

  input[name="title"]:focus,[name="isbn"]:focus,[name="author"]:focus {
      outline: none;
      border: 2px solid black;
  }

.submit-book-btn {
    background-color: rgb(190, 190, 190);
    margin-top: 20px;
    font-size: .5em;
    font-weight: 600;
    padding: 0.5em 1.8em;
    letter-spacing: 0.06em;
    position: relative;
    border-radius: 0.6em;
    border: 2px solid rgb(0, 0, 0);
    color: black;
}

.submit-book-btn:hover {
    cursor: pointer;
    background-color: rgb(223, 208, 48);
}
