.submitMessage {
  font-size: 20px;
	margin-bottom: 10px;
}

ul {
	list-style-type: '🧂';
	margin-left: 16px;
	padding: inherit;
  list-style-position:outside;
  list-style-image: none;
}

li {
	padding-left: 10px;
	padding-bottom: 10px;
	text-transform: capitalize;
}