input[name="title"],[name="isbn"] {
    margin-left: 30px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
  }

input[name="author"] {
    width: 250px;
    height: 25px;
    border-radius: 5px;
    margin-left: 5px;
}

.submit-book-btn {
        background-color: grey;
        margin-top: 20px;
        font-size: .8em;
        font-weight: 600;
        padding: 0.5em 1.8em;
        letter-spacing: 0.06em;
        position: relative;
        border-radius: 0.6em;
        border: 2px solid rgb(0, 0, 0);
}

.submit-book-btn:hover {
    cursor: pointer;
    background-color: rgb(24, 80, 36);
    color: white;
}
