.sub-question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
}

.sub-question label {
  display: flex;
}

.sub-question input {
  margin-top: 7px;
}

@media screen and (min-width: 700px) {
  .sub-question input {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    flex: none;
  }
}

@media screen and (min-width: 1500px) {
  .sub-question {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .sub-question input {
    margin-top: 0;
    width: 30px;
    height: 30px;
  }
}
