.summaryText p {
 background: pink;
 font-size: 24px;                                                      
 color: rgb(91, 91, 91);
 border-bottom: 1px solid rgb(91, 91, 91); 
 margin: 10px;
 display: inline; 
 justify-content: center;
 text-align: left;
}