.summary {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
    width: 50%;
}

.name, .gender, .age, .food, .times {
    background-color: rgba(253, 136, 136, 0.5);
    padding: 0 5px;

}

.slider-title {
    font-size: 30px;
    font-weight: 200;
    padding-bottom: 20px;
}

.slider-parent{
    display: flex;
    flex-direction: column;
    width: 50%;
    position:relative;
    accent-color: #000000;
    margin: 50px;
  }

  .buble {
    font-weight: 400;
  }

.slider-value {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}


