.summary-title {
    font-family: 'Yuji Boku', serif;
    font-size: 22px;
    color: #5489B3;
    margin-top: 0px;
    margin-bottom: 0px;
}

.summary-text {
    font-family: 'Yuji Syuku', serif;
    font-size: 16px;
    color: #5489B3;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.signature {
    font-family: 'Yuji Boku', serif;
    font-size: 17px;
    color: #5489B3;
    margin: 0px 0px 0px 0px;
}

@media (min-width: 448px) and (max-width: 667px) {

    .summary-title {
        font-size: 24px;
    }
    
    .summary-text {
        font-size: 18px;
    }
    
    .signature {
        font-size: 20px;
    }
    
}

@media (min-width: 668px) and (max-width: 1024px) {

    .summary-title {
        font-size: 24px;
    }
    
    .summary-text {
        font-size: 18px;
    }
    
    .signature {
        font-size: 20px;
    }

  }
      
  
  @media (min-width: 1025px) {

    .summary-title {
        font-size: 25px;
    }
    
    .summary-text {
        font-size: 18px;
    }
    
    .signature {
        font-size: 20px;
    }

  } 