.summery-text-container {
  width: 80%;
  margin: auto;
}

.summery-text {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
}

@media (max-width: 667px) {
  .summery-text {
    text-align: center;
  }
}
