.summaryText {
    width: 350px;
    border-radius: 28px;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background: pink;
    color: rgb(91, 91, 91);
    border-bottom: 1px solid rgb(91, 91, 91);
    margin: 32px;
}