.wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.survey__form, .introduction {
    position: absolute;
    top: 50%;
    margin: 20%;
    background-color: rgba(247, 249, 251, 0.4);
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:768px) {
    .wrapper {
        padding: 20%
    }
}