.tagline-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  background-color: rgb(247, 149, 25, 0.7);
  border-radius: 30px 10px;
  padding: 20px;
  box-shadow: 3px 5px 8px #888888;
}

.taglines {
  padding: 10px 0;
  font-style: italic;
}

.taglines-quotes {
  cursor: pointer;
}

@media (min-width: 730px) {
  .tagline-container {
    width: 500px;
  }
}
