input[type=text] {
  width: 95%;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  outline: none;
  border: none;
  border-radius: 3px;
  /* border-bottom: 1px solid #152238; */
  background: #ececec;
  font-size: 1rem;
}

input::placeholder {
  color: rgba(21, 34, 56, 0.4);
}

input[type=text]:focus {
  outline: 2px solid #152238;
  outline-offset: 4px;
}