.third-question {
  background-color: #f0c8c8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.radio-buttons {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
label,
select {
  font-family: "PT Serif", serif;
  margin-left: 20px;
}
.radio-button {
  appearance: none;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px auto;
}
p {
  margin-right: 30px;
  margin-left: 10px;
}
label {
  cursor: pointer;
}
