.third-question {
  background-color: #e89490;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.radio-buttons {
  display: flex;
  margin: 0 0 0 25px;
  justify-content: center;
  cursor: pointer;
}
label,
select {
  font-family: "PT Serif", serif;
  margin-left: 20px;
  cursor: pointer;
}
.radio-button {
  appearance: none;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  border: 1px solid black;
  cursor: pointer;
  margin: 10px auto;
}
.radio-button:checked::before {
  position: absolute;
  font-size: 24px;
  left: 2px;
  top: -3px;
  content: "\2661";
  transform: rotate(-1deg);
  display: block;
}

.radio-button:hover {
  background-color: #f0c8c8;
}

.radio-button:checked {
  background-color: #baa3a9;
  color: #fff;
}
p {
  margin-right: 30px;
  margin-left: 10px;
}
@media screen and (min-width: 360px) and (max-width: 667px) {
  .radio-buttons {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
    justify-content: center;
    cursor: pointer;
  }
  label {
    font-size: 18px;
  }
}
