.radio-card{
  max-width: 500px;
  margin: auto;
}

.question{
  font-family: Averia Sans Libre;
  color: #8e5006;
}

.label-container{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  font-size: 12px;
}
.radio-label{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: Roboto;
  font-weight: bold;
  color: var(--text);
}

@media (min-width: 650px) {
  .radio-label {
    font-size: 16px;
  }

}