:root{
  --background: #9cacbf;
  --question: #012e67;
  --text: #032e42;
  --background2: #90bff9;
  --border: #0a1417;
}

.welcome-card {
  max-width: 500px;
  margin: auto;
}
.welcome-heading{
  font-family: Averia Sans Libre;
  color: var(--question);
}

.welcome-text{
  font-size: 16px;
  font-family: Roboto;
  color: var(--text);
}