.heroContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 100vh;
}

.heroLeft {
  background: #162a45;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroRight {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage img {
  width: 50vw;
}

.heroLeft h1 {
  font-weight: 300;
  color: #fff;
  margin: 10px;
}

.heroLeft p {
  font-size: 18px;
  color: #fff;
  margin: 20px;
}

.italic {
  font-style: italic;
}

.semiBold {
  font-weight: 600;
}

.underLine {
  text-decoration: underline;
}

button {
  background-color: #a73127;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .heroContainer {
    width: 100%;
  }

  .heroImage img {
    display: none;
  }

  .heroLeft {
    width: 100%;
  }
}
