
.form-result
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.result-header{
    display: flex;
}

.result-text{
    display: inline-block;
    width: 300px;
}

.robot-image{
    display: flex;
    margin-left:90px;
    margin-bottom: 40px;
}

@media (min-width: 768px){
    .result-text{
      width: 400px;
    }
  }
  
  @media (min-width: 1025px){ 
    h1 {
      width:400px; 
      
      font-size: 60px;
    }
  
    .form-section{
      width: 400px;
      margin-left:10px;
    }
  }