
.form-result
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-header{
    display: flex;
    margin-top:120px;
}

.result-text{
    display: inline-block;
    width: 300px;
    margin-top: -5px;
}

.robot-generator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

.robot-text{
  display: flex;
  margin:-5px;
  margin-bottom: -5px; 
  
}
.robot-image{
    display: flex;
    margin-top:-60px;
    margin-left:90px;
    margin-bottom: 50px;
}

@media (min-width: 768px){
    .result-text{
      width: 400px;
    }
  }
  