.formOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.formInput {

}

.formBtn {
  margin: 2vh 0vh;
  padding: 1vh;
  font-size: 1.5vw;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  transition-duration: 0.4s;
  cursor: pointer;
}

.formBtn:hover {
  background-color: #008CBA; /* Green */
  color: white;
}