
.name-wrapper{
    display: flex;
    justify-content: space-betweens;
    align-items: center;
    flex-direction: column;
    height: 100px;
}

.name-heading{
    margin-top: 0px;
    margin-bottom: 20px;
    padding:10px;
    border-bottom: solid 2px white;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    border: 2px solid var(--neon-border-color);
    background-color: rgba(23, 22, 22, 0.8);
    color: white;
}