
.radio-activity label {
    font-size: 13px;
    text-transform: uppercase;
}

.radioBtn {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .radioBtn span {
    margin-left: 8px;
  }