/* –– Variables –– */

:root {
  --border-radius-layout: 40px;
  --border-radius-form: 5px;

  --color-light: #f7f3e1;
  --color-medium: #ecdfc8;
  --color-dark: #c5b088;
  --color-bright: #ecb390;
  --color-accent: #df7861;
  --color-text: #4b4133;
}


/* –– Genereal styles –– */

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-medium);
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
}

html, 
body, 
div#root, 
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* –– Header –– */

header {
  flex: 0 1 auto;
  padding: .5rem 2rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}


/* –– Main –– */

.main-content {
  flex: 1 1 auto;
  max-width: 576px;

  display: flex;
  flex-direction: column;
}

.form-container {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;

  border-top-right-radius: var(--border-radius-layout);
}

.progress-counter {
  padding: 1.5rem 3rem;
  background-color: var(--color-bright);
  border-bottom-right-radius: var(--border-radius-layout);
  color: var(--color-text);
}


/* –– Footer –– */

footer {
  flex: 0 1 auto;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: var(--color-text);
  background-color: var(--color-dark);
  border-top-left-radius: var(--border-radius-layout);
  border-top-right-radius: var(--border-radius-layout);
  font-size: .9rem;
}
