:root {
  --border-radius: 40px;

  --color-light: #fcf8e8;
  --color-medium: #ecdfc8;
  --color-dark: #dcccae;
  --color-bright: #ecb390;
  --color-accent: #df7861;
  --color-text: #827765;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-medium);
  font-family: 'Avenir', sans-serif;
  font-weight: 600;
}

html, 
body, 
div#root, 
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  flex: 0 1 auto;
  padding: 1rem 2rem;
}

.main-content {
  flex: 1 1 auto;
  max-width: 576px;

  display: flex;
  flex-direction: column;
}

.form-container {
  flex: 1 1 auto;

  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;

  border-top-right-radius: var(--border-radius);
}

.progress-counter {
  padding: 1.5rem 3rem;
  background-color: var(--color-light);
  border-bottom-right-radius: var(--border-radius);
  color: var(--color-text);
}

h1 {
  margin: 0;
  font-size: 2rem;
}


footer {
  flex: 0 1 auto;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: var(--color-text);
  background-color: var(--color-dark);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  
}
