body {
  /* background-color: #e0d4c2; */
}

.main-content {
  margin: 100px;
}

h1 {
  font-size: 3rem;
}

label {
  font-size: 1.6rem;
}

.radio-btn {
  margin-top: .5rem;
  font-size: 1rem;
}

label, button {
  display: block;
  margin-top: 2rem;
}

input, button {
  /* border: none; */
}

input[type=text],
input[type=select],
select {
  display: block;
}