form * {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p,
label:not(.radio-label) {
  font-size: 1.6rem;
}

label, button {
  margin-top: 2rem;
}

input[type=text]{
  border: none;
  padding: .8rem 1.2rem;
  border-radius: 5px;
  background-color: #ececec;

}

button {
  display: block;
  background-color: var(--color-bright);
  border: none;
  padding: .8rem 1.2rem;
  border-radius: 5px;
  
}

input[type=text],
input[type=select],
select {
  display: block;
  margin-top: 1rem;
}

input[type=checkbox] {
  margin-top: 1rem;
}

.radio-btn {
  margin-top: .5rem;
  font-size: 1rem;
}