header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: purple;
}

.fun {
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
}

.emoji {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 10px;
}