@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;1,410;1,500&display=swap');

body {
  margin: 0;
  background-color: blueviolet;
  font-family: 'Josefin Sans', sans-serif, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.submitBtn {
  background-color: #fde2bf;
  border: none;
  border-radius: 50px;
  color: #c42c2c;
  font-size: .8em;
  letter-spacing: 1px;
  margin: 18px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
}