h1 {
  font-family: "Reenie Beanie", cursive;
  letter-spacing: 2px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

button {
  font-family: "Roboto", sans-serif;
  color: #f5eee8;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 20px;
  margin: 50px 0;
  cursor: pointer;
  border: 1px solid #de7254;
  background: #de7254;
}

/* @media (min-width: 768px) {
  h1 {
    font-size: 75px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 85px;
  }
} */
