.form-wrapper {
  display: flex;
  justify-content: center;
}

form {
  padding: 20px;  
  background-color: orangered;
  color: white;
  border-radius: 50px;
  margin: 20px;
}

p {
  margin: 0;
}

.question {
  margin: 40px;
}

.question input {
  margin-right: 5px;
  margin-top: 10px;
}

.question label {
  margin-right: 10px;
}