.radio-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.radio-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    font-weight: 500;
}

.radio-wrapper input {
    display: flex;
}