

@media print {
    body {
  color: yellow;
  background-color: greenyellow;
    }
  
  }
  

  @media screen and ( min-width: 340px ) and ( max-width: 600px ) {
   
    
    .welcome-screen {
        display: flex;
        flex-direction: column;
    }

    .welcome-text {
        font-size: 1rem;
        padding: 2rem;
    }

    h1 {
        font-size: 2rem;
        position: relative;
        z-index: 800;
    }


    .logo-wrapper {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
   }

  form label {
       color: white;
   }


  input {

    font-size: 1.5rem;
    height: 3rem;
    z-index: 500;
    width: 70%;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(190, 3, 75, 0.356);
  }
   
    .form-wrapper {
        margin-left: 0px;
        width: 100vw;
    }

    form {
        /* background-color: rgb(128, 255, 0); */
        width: 100%;
        margin: 0;
        padding: 0;
    
    }

    .pergament {
        transform: rotate(90deg);
        width: 80vh;
        height: 200px;   
        z-index: 0; 
        opacity: 0;
        display: none;
        }

    

    input[type=range]::-webkit-slider-thumb { 
        filter:invert(100);
    }


    
  
    select {
        outline-color: red;
        outline: 1px solid white;
        background-color: rgba(190, 3, 75, 0.356);

    }

    form div {
        color: white;
    }

    .goodbye-text {
        
        padding: 0 2rem;
        font-size: 1rem;
    }

    .ship-option {
        width: 35%;
        height: 200px;
        }

    .ship-form {
       
        transform: scale(1);
        margin-top: 2rem;
    }
    .question {
        font-size: 1.3rem;

    }
    .end-screen {
        width: 100%;
    }

    }


    @media screen and ( min-width: 601px ) and ( max-width: 1200px ) {




body {
    background-size: fill; 
    background-position: 70%;
}
#root {
    width: 100%;
}


        .pergament {
            width: 70vh;

        }


        .form-wrapper {
            margin-left: 0px;
            margin-top: 4rem;
            width: 100vw;
        }

        .end-screen {
            width: 100%;
        }  

        

    .logo-wrapper {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
   }

  input {

    font-size: 1.5rem;
    height: 3rem;
    z-index: 500;
    position: relative;
    width: 400px;
  
  }

  .form-wrapper {

   width:100%; 
   margin: auto;
   display: flex;
   justify-content: center;

}

  form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    height: 400px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    z-index: 400;
    position: relative;
    animation: pagetransit 1s ease-in-out forwards;
    opacity: 1;
   
  }

    button {
        width: 400px;
    }

    select {
  
    width: 80%;
    height: 3rem;
    padding-left: 1.2rem;
    margin-top: 3rem;
    z-index: 10;
    position: relative;
    background: rgba(0, 0, 0, 0.363);
    color: white;
    font-family: 'cinzel', serif;
    font-size: 1.2rem;
    height: 3rem;
  
  
    -webkit-background: black;
  
    }

.end-screen {
    
    margin: auto;

    color: white;
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    background: radial-gradient(circle, #8b00009c, #4902023a, rgba(0, 0, 0, 0), rgba(72, 0, 0, 0));
  }
    }


  @media screen and ( min-width: 1201px ) and ( max-width: 1600px ) {
   
  form {
      background-color: transparent;
  }
  }