
.end-screen {
    color: white;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4rem;
  }
  
  .stats-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  
  .stats-container > * {
    flex: 1;
  }
  