.submitbutton {
  background: rgb(248, 196, 204);
  color: grey;
  border-style: outset;
  border-color: white;
  height: 50px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: none;
}
.submitbutton:hover {
  background: rgb(248, 196, 204);
}
.submitbutton:focus {
  outline: thin dotted;
}
