.header {
  height: 150px;
  width: auto;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-right: 30px;
  }
}
