.genreSection {
  color: #162a45;
}

.genreSection h2 {
  font-size: 22px;
}

.genreSection p {
  font-size: 18px;
  padding: 20px;
}

.dropDownMenu {
  margin: 20px;
}

.dropDownMenu select {
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

button {
  background-color: #162a45;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 20px;
}
