main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 80%;
  max-height: 50vh;
}
.image-box img {
  width: 100%;
  max-height: 50vh;
}

.title {
  display: flex;
  font-weight: 400;
  width: 80%;
}

.title p {
  padding: 0 1rem 0 1rem;
  color: #4fb0ae;
  font-size: 1.8rem;
}

.title h1 {
  font-weight: 400;
  padding-top: 0.5rem;
}

.title span {
  padding: 0 0 0 0.5rem;
  color: #4fb0ae;
}
.reset-button {
  margin: 0.5rem 0 0 -70%;
}
form {
  width: 80%;
  margin: 0 auto;
}
input[type='text'],
select {
  width: 40vw;
}

input,
select,
label {
  color: #4fb0ae;
}

button {
  height: 2.5rem;
  width: 4rem;
  border-radius: 10px;
  background-color: #4fb0ae;
  color: #ededed;
  text-align: center;
  border: none;
}

.submit-button {
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .title,
  .image-box,
  form {
    width: 60%;
  }
  .reset-button {
    margin: 0.5rem 0 0 -50%;
  }
}
