.horror-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.image-container-horror {
    display: flex;
    flex-direction: row;
}

.image-container-horror img{
    width: 100px;
}
