.input-wrapper {
  display: flex;
  flex-flow: column wrap;
  margin: 20px 0;
  position: relative;
}

/* ---------------------------------- TEXT ---------------------------------- */

[type='text'] {
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 10px;
  transition: all 0.5s ease;
}

[type='text']:focus {
  outline: none;
  padding-left: 30px;
}

.input-wrapper--text:focus-within::before {
  content: '';
  width: 100%;
  height: 20px;
  position: absolute;
  background-image: url('../../icons/iconArrow.svg');
  background-repeat: no-repeat;
  left: 15px;
  top: calc(50% - 10px);
}

::placeholder {
  color: var(--secondary);
  opacity: 1;
}

:invalid:focus {
  border-color: var(--error);
}

/* --------------------------------- SELECT --------------------------------- */

.input-wrapper--select::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url('../../icons/iconArrow.svg');
  background-repeat: no-repeat;
  transform: rotate(90deg);
  top: 15px;
  right: 10px;
  cursor: pointer;
}
select {
  appearance: none;
  background-color: transparent !important;
  border: 2px solid var(--primary);
  padding: 10px;
  cursor: pointer;
  
}
select:focus {
  outline: none;
  border-width: 4px;
}
.input-wrapper--select:focus-within::before{
  top: 20px;
}
option {
  background-color: var(--darkAlt);
}

/* ------------------------------ RADIO BUTTONS ----------------------------- */

[type='radio'] {
  position: absolute;
  opacity: 0;
}
.radio-label {
  position: relative;
  margin: 10px 0;
  padding-left: 40px;
  cursor: pointer;
}
.radio-input {
  position: absolute;
  top: -2px;
  left: 0;
  cursor: pointer;
}

.radio-input::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary);
  border-radius: 100%;
  background: transparent;
}
.radio-input::after {
  content: '';
  width: 16px;
  height: 16px;
  background: var(--primary);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:invalid:focus ~ .radio-input::before {
  border-color: var(--error);
}
.radio-label:focus-within > .radio-input::before {
  border-width: 4px;
  top: -2px;
  left: -2px;
}

/* Handles whether to show the checked or not */
[type='radio']:not(:checked) + .radio-input::after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + .radio-input::after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
