@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aqua;
}

h2 {
    font-size: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    border: solid black 2rem;
    /*borders will be deleted later*/
}

.input {
    background: transparent;
    border: 0;
    border-bottom: 1rem solid #c507f5;
}

.startButton {
    background-color: #4430f6;
    border-radius: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem;
}