.form__passengers-information {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__passengers-information input {
  width: 100%;
}

.form__names {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.form__name {
  display: flex;
  flex-direction: column;
}
