@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  z-index: 1;
  margin-bottom: 0;
}

form {
  margin: 20px 0 30px;
}

section {
  background-color: #F5EEE9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  font-size: 16px;
  border-radius: 10px;
  padding: 6px 7px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.welcome {
  color: white;
  position: relative;
  background-image: url('./images/screens.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome p {
  z-index: 1;
}

.welcome span {
  font-weight: 700;
}

.welcome button,
.closing button {
  background-color: rgb(212, 29, 29);
  font-weight: bold;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  cursor: pointer;
  margin: 30px 0;
}

.button-text {
  margin-left: 160px;
  position: absolute;
  font-size: 16px;
}

.closing .button-text {
  margin-left: 100px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  font-size: 20px;
}

.time {
  display: flex;
  align-items: center;
}

.icon {
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
  margin-right: 8px;
}

.block {
  display: block;
}

.numbers {
  margin-top: 0;
}

.numbers-right {
  margin-left: 178px;
}

.text-right {
  margin-left: 15px;
}

select {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.symbols {
  color: #dda200; 
}

.age-inputs label {
  margin-left: 10px;
}

input[type=range] {
  width: 200px;
}

ul {
  text-align: center;
  margin-bottom: 30px;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

li::before {
  content: '';
  display: inline-block;
  height: 23px;
  width: 24px;
  margin-right: 10px;
  background-image: url('./images/sta.png');
}