@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form {
  margin: 20px 0 30px;
}

section {
  background-color: #F5EEE9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  font-size: 16px;
  border-radius: 10px;
  padding: 6px 7px;
}

.button-text {
  margin-left: 160px;
  position: absolute;
  font-size: 16px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button {
  position: relative;
  font-size: 20px;
}

.sub-header {
  display: block;
}

select {
  display: block;
  margin-top: 10px;
  font-size: 18px;
}

.symbols {
  color: #dda200; 
}

.age-inputs label {
  margin-left: 10px;
}