.header {
  height: 50px;
  width: 100%;
  background-color: #000000;
  color: aliceblue;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  margin: 0;
  font-size: 25px;
}

header:before {
  content: "";
  position: absolute;
  top: 49px;
  right: 0;
  left: 0;
  height: 50px;
  background: linear-gradient(to top left, transparent 49%, #000000 50%);
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}
