.survey-container {
  height: 250px;
  padding: 30px 20px;
  margin: 0 auto;
  background-color: rgba(39, 39, 39, 0.8);
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-align: center;
}

p {
  font-size: 20px;
}

@media (min-width: 768px) {
  .survey-container {
    width: 60%;
  }
}
