.answer_dropdown_container{
    display: flex;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.select_form_dropdown{
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
    background: white;
    color: rgb(8, 32, 50);
}

.dropdown_image_title{
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    margin: 0 auto;
}

.answer_form_dropdown{
    margin-bottom: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.dropdown_image_container, .dropdown_image_uni_container{
    display: flex;
    justify-items: center;
    color: white;
    text-align: center;
    width: 80%;
}

.dropdown_image_container{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.dropdown_image_uni_container{
    flex-direction: column;
    margin: auto 10px;
    cursor: pointer;
}

.dropdown_image{
    max-width: 250px;
    height: 150px;
    overflow: hidden;
    padding: 5px;
    align-self: center;
    margin-top: 15px;
}

.dropdown_image_ligth{
    border: 5px solid white;
}

.dropdown_image_dark{
    border: 5px solid rgb(8, 32, 50);;
}

@media (min-width: 768px) {
   .dropdown_image_container{
        width: 100%;
   }
}

@media (min-width: 992px) {
    .dropdown_image_container{
        flex-direction: row;
    }
}