.footer_container {
    background-color: rgb(51, 71, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
}

.footer_text {
    color: rgb(240, 165, 0);
}