.footer_container {
    background-color: rgb(51, 71, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: 90px;
}

.footer_text {
    color: rgb(240, 165, 0);
}