@import '../variables.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7d4b8;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: rgb(247, 212, 184);

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 50px 25px;
    background: #232e42;
    -webkit-box-shadow: 0 34px 22px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 34px 22px -20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 34px 22px -20px rgba(0, 0, 0, 0.4);

    @include respond(medium) {
      width: 75vw;
      height: 90vh;
      padding: 80px 50px;
    }

    @include respond(large) {
      width: 60vw;
      height: 85vh;
    }
  }
}
