.btn {
    width: 65px;
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background: #4a646c;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 170px;
}

@media (max-width: 437px){
    .button-container{
        justify-content: center;
    }
}

.btn{
    margin-right: 5px;
}