
.btn {
    width: 65px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    background: #4a646c;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    width: 180px;
}