footer {
    display: flex;
    text-align: center;
    font-size: inherit;
    margin-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    justify-content: flex-end;
  }

.contact {
    display: flex;
    gap: 1em;
}