footer {
  margin: 0;
  background:  #354F52;
  font-family: 'Merriweather Sans', Sans-Serif;
  font-size: 16px;
  padding: 20px;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #CAD2C5;
}

a {
  color: #CAD2C5;
  cursor: pointer;
}

.email-underlined {
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
}