h1 {
	font-size: 26px;
	margin-bottom: 20px;
}
h2 {
	font-size: 22px;
	/* margin-bottom: 20px; */
}

h3 {
	font-size: 28px;
	margin-bottom: 20px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

.content-container {
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 80%;
}

.form-wrapper {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.4),
			rgba(0, 0, 0, 0.3)
		),
		url('../Images/season-unsplash.jpg');
	background-size: cover;
	background-position-x: center;
	background-position-y: 45%;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.introduction {
	/* margin-top: 50%; */
	padding: 0 10px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.question-container,
.reset-wrapper {
	padding: 0 10px;
	width: 100%;
	color: #fdf7ef;
	display: flex;
	flex-direction: column;
	height: 70%;
	justify-content: space-evenly;
}

/*Styling for select drop down*/
select {
	height: 30px;
	width: 100%;
	font-size: 16px;
	border: none;
	border-radius: 5px;
}

/*Styling for summary*/
.question-container-summary {
	padding: 0 10px;
	/* width: 100%; */
	/* color: #fdf7ef; */
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-evenly;
}

.summary-container {
	color: #fdf7ef;
	line-height: 30px;
	/* display: flex; */
	/* flex-direction: column; */
	height: 35%;
}

.email-container {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

@media (min-width: 768px) {
	h1 {
		font-size: 32px;
	}
	.form-wrapper {
		height: 70vh;
		width: 50vw;
	}

	form {
		width: 80%;
	}
}

@media (min-width: 1024px) {
	form,
	.introduction {
		width: 60%;
	}

	.intro-wrapper,
	.reset-wrapper {
		width: 70%;
	}
}
