* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----- FORM BOX */

.form-box {
  /* outline: 1px solid red; */
  width: 375px;
  /* height: 500px; */
  margin: 25px auto;
}

/* ----- Q & A BOX ----- */

.q-and-a-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.q-and-a-box h1 {
  color: #000;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

/* ----- INPUT TEXT ----- */

.input-text {
  width: 275px;
}

/* ----- BUTTONS ----- */

button {
  border: none;
  padding: 5px;
  cursor: pointer;
}

.next-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.next-button-box button {
  color: #fff;
  background-color: #000;
}

.error-message {
  color: red;
  text-align: center;
}

.back-button-box {
  padding-top: 40px;
}

.back-button-box button {
  color: #fff;
  background-color: grey;
}

.story-button {
  color: #fff;
  background-color: #000;
}

/* ----- RADIO BUTTONS ------ */


.radio-box {
padding: 10px 0;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: grey;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* ----- CHECKBOXES ----- */

.checkboxes {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

/* .checkbox-box {
  display: block;
  margin-bottom: 15px;
}

.checkbox-box input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-box label {
  position: relative;
  cursor: pointer;
}

.checkbox-box label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-box input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */

/* ----- SELECT MENU ----- */

.select-input {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end; */
  text-align: center;
  width: 275px;
  padding: 0 0.5rem;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  color: inherit;
}

/* ----- RANGE SLIDER ----- */


  .slider {
    -webkit-appearance: none;
    width: 275px;
    height: 10px;
    border-radius: 10px;
    background: grey;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* .slider:hover {
    opacity: 1;
  } */
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #000;
    cursor: pointer;
  }
