* {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

html {
  background: #f4f4f4;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-page h1 {
  font-size: 40px;
}

.landing-page h1,
.landing-page p {
  text-align: center;
}

button {
  border: none;
  padding: 5px;
  cursor: pointer;
}

.start-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button-box button {
  position: absolute;
}

.start-button-box button,
.next-button-box button,
.story-button {
  color: #fff;
  background-color: #000;
}

.next-button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.back-button-box {
  margin-top: 40px;
}

.back-button-box button {
  color: #fff;
  background-color: grey;
}

.error-message {
  color: red;
  text-align: center;
}

.form-box {
  width: 375px;
  margin: 0 auto;
}

.q-and-a-box {
  padding: 0 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.q-and-a-box h1 {
  color: #000;
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
}

/* ----- INPUT ----- */

.input-text {
  width: 275px;
  text-align: center;
  border: 1px solid grey;
}

.radio-box,
.checkbox-box {
  padding-bottom: 20px;
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.single input[type="checkbox"] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

input[type="radio"],
input[type="range"],
input[type="checkbox"],
input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
}

.select-input {
  text-align: center;
  width: 275px;
  border: 1px solid grey;
  cursor: pointer;
  color: inherit;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 275px;
  height: 10px;
  border-radius: 5px;
  background: grey;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #000;
}

.speeds-box {
  width: 275px;
  display: flex;
  justify-content: space-between;
}


/* ----- STORY ----- */

mark {
  background-color: #e6e6e6;
}

a {
  all: unset;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 16px;
}

.credit,
.credit a {
  font-size: 12px;
  font-weight: 400;
}