.page-1 {
  --width-end: 0%;
}

.page-2 {
  --width-start: 0%;
  --width-end: calc(7.7% * 1);
}

.page-3 {
  --width-start: calc(7.7% * 1);
  --width-end: calc(7.7% * 2);
}

.page-4 {
  --width-start: calc(7.7% * 2);
  --width-end: calc(7.7% * 3);
}

.page-5 {
  --width-start: calc(7.7% * 3);
  --width-end: calc(7.7% * 4);
}

.page-6 {
  --width-start: calc(7.7% * 4);
  --width-end: calc(7.7% * 5);
}

.page-7 {
  --width-start: calc(7.7% * 5);
  --width-end: calc(7.7% * 6);
}

.page-8 {
  --width-start: calc(7.7% * 6);
  --width-end: calc(7.7% * 7);
}

.page-9 {
  --width-start: calc(7.7% * 7);
  --width-end: calc(7.7% * 8);
}

.page-10 {
  --width-start: calc(7.7% * 8);
  --width-end: calc(7.7% * 9);
}

.page-11 {
  --width-start: calc(7.7% * 9);
  --width-end: calc(7.7% * 10);
}

.page-12 {
  --width-start: calc(7.7% * 10);
  --width-end: calc(7.7% * 11);
}

.page-13 {
  --width-start: calc(7.7% * 11);
  --width-end: calc(7.7% * 12);
}

.page-14 {
  --width-start: calc(7.7% * 12);
  --width-end: 100%;
}

.progress {
  background: black;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 365px;
}

.progress-value {
  -webkit-animation: load 1s normal forwards;
  animation: load 1s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: white;
  height: 10px;
  width: 0;
}

@-webkit-keyframes load {
  0% {
    width: var(--width-start);
  }
  100% {
    width: var(--width-end);
  }
}

@keyframes load {
  0% {
    width: var(--width-start);
  }
  100% {
    width: var(--width-end);
  }
}
