.progress-bar-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color: #fdf7ef;
	font-weight: bold;
	width: 90%;
}

.progress-bar[value] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.progress-bar[value]::-webkit-progress-bar {
	border-radius: 2px;
	background: rgb(241, 238, 238);
	height: 10px;
}

.progress-bar[value]::-moz-progress-bar {
	border-radius: 2px;
	background: rgb(241, 238, 238);
	height: 10px;
}

.progress-bar[value]::-webkit-progress-value {
	background-color: #bda99e;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.progress-bar-label {
	font-size: 16px;
	margin-right: 10px;
}
