body {
    margin: 0;
    background: #b0bec5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}