/*** Summary box ***/
.summary-box {
  border: 1px solid #52796F;
  border-radius: 8px;
}

.answers-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary-heading, .summary-text {
  margin: 6px;
  padding: 6px;
}

.bold-summary-text {
  font-weight: bold;
}

.end-words-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.end-words {
  font-weight: bold;
  font-size: 24px;
  margin: 4px 4px 4px 6px;
  padding: 4px 4px 4px 6px;
  text-align: center;
}

.underlined-summary-text {
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
}