.welcome {
  background-image: url("https://i.ibb.co/QM5SqDZ/mobile.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.give-btn {
  color: var(--main-text);
  background: var(--background);
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  width: 150px;
  font-size: 12px;
  height: 34px;
  padding: 0;
  box-shadow: 0 0 8px var(--main-text);
  border-radius: 4px;
  box-shadow: 0 0 8px var(--highlight);
  border: 1px solid var(--highlight);
}

.give-btn:hover {
  box-shadow: 0 3px 38px var(--main-text);
  border: 1px solid var(--highlight);
}

.welcome-header-container {
  display: flex;
  flex-direction: row;
}

.welcome-header {
  display: inline-flex;
  margin-top: 10px;
}

.greetings {
  margin-bottom: 10px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .welcome {
    background-image: url("https://i.ibb.co/xH0KXJw/desktop.jpg");
  }
  .give-btn {
    margin-top: 50px;
    width: 240px;
    font-size: 20px;
    height: 50px;
  }
  .welcome-header {
    font-size: 66px;
  }
  .greetings {
    margin-bottom: 26px;
    font-size: 28px;
  }
}
