.dot {
  position: relative;
  height: 14px;
  width: 14px;

  border-radius: 50%;
  display: inline-block;
  transition: all 500ms ease-in-out;
}

.line {
  width: 40px;
  height: 3px;
  display: inline-block;
  transition: all 500ms ease-in-out;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  color: white;
  height: 30px;
  width: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
