* {
    box-sizing: border-box;
}

.background {
    display: flex;
    flex-direction: column;
    background: center;  /**** Have to be placed on top in body ****/
    background-image: url(/assets/filipe-de-rodrigues-SpMmd2jgL2w-unsplash.jpg);
    background-color: #684d42;
    background-size: cover;
    width: 100%;
    height: -webkit-fill-available;
}

.survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    opacity: 0.5;
    height: 500px;
    margin: 15%;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    height: inherit;
    padding: 30px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
}

.nameSection {
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    padding-bottom: 20px; 
}

.name {
    border: 0.5px solid black;
    border-radius: 4px;
    width: -webkit-fill-available;
    height: 20px;
    margin-left: 4px;
}

.nameSection p {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.burgerSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.burgerSection h4{
    margin-bottom: 10px;
}

.burgerSelect {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    border: 0.2px solid black;
    border-radius: inherit;
}

label {
    font-family: 'Roboto', sans-serif;
}

.breadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.breadSection h4 {
    margin-bottom: 15px;
}

.deliverySection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deliverySection h4 {
    margin-bottom: 10px;
}

label {
    align-self: start;
    padding: 4px;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 50px;
}

button {
    width: 100px;
    height: 30px;
    border: 1.3px solid black;
    border-radius: 4px;
    padding: 2px 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 180px;
}

@media (min-width:668px) and (max-width:1024px) {
.background {
    background-size: cover;
    width: 100%;
    height: auto;
}    

button {
top: 500px;
}

}

@media (min-width:1025px) {
.survey {
    margin: auto 20%
}    

button {
    top: 500px;
}

}